== cell(:restaurant, model.table.restaurant).show_link
= model.table.date
= model.table.hour
/ Search the corresponding menu
== cell(:menu, model.table.menu).show_link
/ Define and calculate affinity
p.affinity
  = model.affinity