== cell(:test, @test)

/ TODO make clickable image
= link_to @test.caption_A, users_test_response_path(@user, @test, :option => @test.caption_A), :method => :post
br
= link_to @test.caption_B, users_test_response_path(@user, @test, :option => @test.caption_B), :method => :post