ion-view title="Last Minute" ng-controller="LastMinuteCtrl" cache-view="false"
  ion-content
    #grid-container ng-show="panelShown == 'grid-results'" ng-include="" src="'templates/partial/grid-results.html'"
    #slide-container ng-show="panelShown == 'slide-results'" ng-include="" src="'templates/partial/slide-results.html'"

