/* line 3, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/calendar.scss */
.calendar {
  padding-top: 20px;
}
/* line 5, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/calendar.scss */
.calendar .calendar-header, .calendar .simple-calendar {
  font-size: 2em;
  text-align: center;
  margin-bottom: 15px;
}
/* line 9, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/calendar.scss */
.calendar .calendar-header > span, .calendar .simple-calendar > span {
  font-weight: 200;
  color: #383838;
  padding: 0 30px;
}
/* line 14, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/calendar.scss */
.calendar .calendar-header > a, .calendar .simple-calendar > a {
  font-weight: 200;
  width: 50px;
  float: right;
}
/* line 18, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/calendar.scss */
.calendar .calendar-header > a:link, .calendar .calendar-header > a:visited, .calendar .calendar-header > a:hover, .calendar .calendar-header > a:active, .calendar .simple-calendar > a:link, .calendar .simple-calendar > a:visited, .calendar .simple-calendar > a:hover, .calendar .simple-calendar > a:active {
  color: #777777;
  text-decoration: none;
}
/* line 22, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/calendar.scss */
.calendar .calendar-header > a:first-child, .calendar .simple-calendar > a:first-child {
  float: left;
}
/* line 27, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/calendar.scss */
.calendar table {
  font-size: 1.5rem;
  table-layout: fixed;
  width: 100%;
  padding: 12px;
}
/* line 32, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/calendar.scss */
.calendar table a:link, .calendar table a:hover, .calendar table a:active, .calendar table a:visited {
  text-decoration: none !important;
}
/* line 35, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/calendar.scss */
.calendar table th {
  text-align: center;
  font-weight: 400;
  padding: 10px;
}
/* line 40, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/calendar.scss */
.calendar table .day {
  padding: 10px;
  font-weight: 200;
  text-align: center;
  color: #383838;
  text-decoration: none;
  color: #777777;
}
/* line 45, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/calendar.scss */
.calendar table .day.prev-month, .calendar table .day.next-month, .calendar table .day.past {
  color: #c9c9c9;
}
/* line 47, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/calendar.scss */
.calendar table .day.prev-month .status-table, .calendar table .day.next-month .status-table, .calendar table .day.past .status-table {
  opacity: 0.3;
  color: #383838;
}
/* line 52, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/calendar.scss */
.calendar table .day.today {
  text-align: center;
  font-weight: 400;
  padding: 10px;
  border: 3px solid #ffd537;
}
/* line 57, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/calendar.scss */
.calendar table .day.today .status-table {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}
/* line 67, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/calendar.scss */
.calendar table .status-table {
  font-size: 0.75em;
  text-align: center;
  background-color: #777777;
  color: white;
}
/* line 73, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/calendar.scss */
.calendar table .status-table.pending {
  background-color: #f39c12 !important;
}
/* line 76, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/calendar.scss */
.calendar table .status-table.confirmed {
  background-color: #0d9948 !important;
}
/* line 79, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/calendar.scss */
.calendar table .status-table:not(:last-of-type) {
  margin-bottom: 3px;
}
/* line 82, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/calendar.scss */
.calendar table .status-table.full {
  background-color: #0d9948;
}
/* line 85, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/calendar.scss */
.calendar table .status-table.plan_closed {
  background-color: #79d901;
}
/* line 88, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/calendar.scss */
.calendar table .status-table.partial {
  background-color: #f2cd2c;
}
/* line 91, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/calendar.scss */
.calendar table .status-table.empty {
  background-color: #cccccc;
}
