@font-face {
  font-family: 'Proxima Nova';
  src: url(/assets/ProximaNova-Thin.eot);
  /* IE9 Compat Modes */
  src: url(/assets/ProximaNova-Thin.eot?#iefix) format("embedded-opentype"), url(/assets/ProximaNova-Thin.woff) format("woff"), url(/assets/ProximaNova-Thin.ttf) format("truetype"), url(/assets/ProximaNova-Thin.svg#ProximaNova-Thin) format("svg");
  /* Legacy iOS */
  font-weight: 200;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(/assets/ProximaNova-Regular.eot);
  /* IE9 Compat Modes */
  src: url(/assets/ProximaNova-Regular.eot?#iefix) format("embedded-opentype"), url(/assets/ProximaNova-Regular.woff) format("woff"), url(/assets/ProximaNova-Regular.ttf) format("truetype"), url(/assets/ProximaNova-Regular.svg#ProximaNova-Regular) format("svg");
  /* Legacy iOS */
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url(/assets/ProximaNova-Semibold.eot);
  /* IE9 Compat Modes */
  src: url(/assets/ProximaNova-Semibold.eot?#iefix) format("embedded-opentype"), url(/assets/ProximaNova-Semibold.woff) format("woff"), url(/assets/ProximaNova-Semibold.ttf) format("truetype"), url(/assets/ProximaNova-Semibold.svg#ProximaNova-Semibold) format("svg");
  /* Legacy iOS */
  font-weight: 700;
}

@font-face {
  font-family: 'Raleway';
  src: url("Raleway-ExtraLight.eot");
  /* IE9 Compat Modes */
  src: url("Raleway-ExtraLight.eot?#iefix") format("embedded-opentype"), url("Raleway-ExtraLight.woff") format("woff"), url("Raleway-ExtraLight.ttf") format("truetype"), url("Raleway-ExtraLight.svg#Raleway-ExtraLight") format("svg");
  /* Legacy iOS */
  font-weight: 200;
}

/* VARIABLES
========================================================================== */
/* line 1, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_navigation.scss */
.navbar {
  margin: 0 !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}
/* line 9, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_navigation.scss */
.navbar .menu-icon {
  font-size: 1.2rem;
}
/* line 12, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_navigation.scss */
.navbar .unread-notifications {
  color: #ff6f6f;
  font-weight: bold;
}
/* line 15, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_navigation.scss */
.navbar .unread-notifications.small {
  font-size: 0.6rem;
}
/* line 19, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_navigation.scss */
.navbar .menu-text {
  font-size: 1rem;
  display: inline;
}
/* line 23, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_navigation.scss */
.navbar.navbar-default {
  background-color: white;
}
/* line 25, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_navigation.scss */
.navbar.navbar-default .navbar-toggle {
  border: none;
  background-color: white;
  margin-right: 0;
}
/* line 31, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_navigation.scss */
.navbar.navbar-default .featured a, .navbar.navbar-default .featured a:hover, .navbar.navbar-default .featured a:active {
  color: #ff6f6f !important;
}
/* line 35, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_navigation.scss */
.navbar.navbar-default a, .navbar.navbar-default a:hover, .navbar.navbar-default a:active {
  color: #383838 !important;
}
/* line 38, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_navigation.scss */
.navbar.navbar-default .navbar-brand img {
  height: 100%;
}
/* line 42, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_navigation.scss */
.navbar.navbar-default .navbar-right .navbar-link:hover {
  font-weight: bold;
}
/* line 46, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_navigation.scss */
.navbar.navbar-default .navbar-right .register a:hover {
  color: #ff6f6f !important;
}
/* line 50, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_navigation.scss */
.navbar.navbar-default .navbar-right .separator {
  border-right: 1px solid #383838;
  height: 30px;
  margin-top: 10px;
}
/* line 59, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_navigation.scss */
.navbar .main-menu a {
  padding-left: 10px;
  padding-right: 10px;
}
/* line 63, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_navigation.scss */
.navbar .main-menu a .menu-icon {
  font-size: 15px;
}

@media (max-width: 991px) {
  /* line 71, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_navigation.scss */
  .navbar-header {
    float: none;
  }

  /* line 74, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_navigation.scss */
  .navbar-left, .navbar-right {
    float: none !important;
  }

  /* line 77, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_navigation.scss */
  .navbar-toggle {
    display: block;
  }

  /* line 80, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_navigation.scss */
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    overflow-x: hidden;
  }

  /* line 85, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_navigation.scss */
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  /* line 89, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_navigation.scss */
  .navbar-collapse.collapse {
    display: none !important;
  }

  /* line 92, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_navigation.scss */
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }

  /* line 96, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_navigation.scss */
  .navbar-nav li {
    float: none;
  }

  /* line 99, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_navigation.scss */
  .navbar-nav li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* line 103, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_navigation.scss */
  .collapse.in {
    display: block !important;
  }
}
/* GENERAL SETTINGS
========================================================================== */
/* line 6, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

/* line 14, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.table {
  display: table;
}

/* line 18, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.cell {
  display: table-cell;
}

/* line 22, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.left {
  float: left;
}

/* line 26, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.right {
  float: right;
}

/* line 30, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.text-right {
  text-align: right;
  text-align: -webkit-right;
}

/* line 35, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.text-left {
  text-align: left;
  text-align: -webkit-left;
}

/* line 40, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.text-center {
  text-align: center;
  text-align: -webkit-center;
}

/* line 45, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 49, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.full-width {
  width: 100%;
}

/*
 * Pixels to rem font-size
 */
/*
 * Pixels to %
 */
/*
 * Vertical align
 */
/*
 * Flexbox display
 */
/* line 97, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.diinner-label {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
/* line 102, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.diinner-label.yellow {
  background-color: #ffd537;
}
/* line 105, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.diinner-label.pink {
  background-color: #ff6f6f;
  color: white;
}
/* line 110, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.diinner-label.button {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 100% 0;
  -webkit-transition: background-size 0.5s, color 0.5s;
  -moz-transition: background-size 0.5s, color 0.5s;
  -o-transition: background-size 0.5s, color 0.5s;
  transition: background-size 0.5s, color 0.5s;
  background-image: linear-gradient(#383838, #383838);
  cursor: pointer;
}
/* line 117, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.diinner-label.button:hover {
  background-size: 100% 100%;
}
/* line 120, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.diinner-label.button.padding-30 {
  padding: 30px;
}

/* line 126, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.diinner-button {
  margin-top: 15px;
  padding: 15px 15px;
  width: 63.29113924%;
  font-size: 1.3125rem;
  text-align: center;
  cursor: pointer;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: 100% 0%;
  color: #383838;
  background-color: white;
  -webkit-transition: background-size 0.5s, color 0.5s;
  -moz-transition: background-size 0.5s, color 0.5s;
  -o-transition: background-size 0.5s, color 0.5s;
  transition: background-size 0.5s, color 0.5s;
}
@media (max-width: 768px) {
  /* line 140, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
  .diinner-button.floater {
    position: fixed;
    bottom: 0;
    left: 50vw;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}
/* line 149, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.diinner-button.pink {
  border: 2px solid #ff6f6f;
  border-radius: 0;
  box-sizing: border-box;
  background-image: linear-gradient(#ff6f6f, #ff6f6f);
}
/* line 155, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.diinner-button.yellow {
  border: 2px solid #ffd537;
  border-radius: 0;
  box-sizing: border-box;
  background-image: linear-gradient(#ffd537, #ffd537);
}
/* line 161, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.diinner-button a {
  text-decoration: none !important;
  color: inherit !important;
}
/* line 165, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.diinner-button:hover {
  background-size: 100% 100%;
}
/* line 168, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.diinner-button:hover.pink, .diinner-button:hover.yellow {
  color: white;
}

/* line 174, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.diinner-info {
  font-size: 0.9rem;
  color: #777777;
}

/* line 178, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.diinner-double-button {
  overflow: hidden;
  margin: 15px 0;
  width: 100%;
  font-size: 1rem;
  text-align: center;
}
/* line 184, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.diinner-double-button .item {
  padding: 10px 1.38888889%;
  float: left;
  width: 40%;
  cursor: pointer;
}
/* line 190, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.diinner-double-button .item:first-child {
  margin-right: 10%;
  background-color: #ffd537;
  border: 1px solid #ffd537;
}
/* line 195, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.diinner-double-button .item:last-child {
  margin-left: 10%;
  background-color: #ff6f6f;
  border: 1px solid #ff6f6f;
}
/* line 196, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.diinner-double-button .item:last-child a {
  color: white;
}

/* line 204, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.box {
  position: relative;
  background-color: #fafafa;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 6px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 6px 0;
}
/* line 208, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.box.bottom-box {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  /* line 208, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
  .box.bottom-box {
    margin-bottom: 100px;
  }
}

/* line 216, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.modal-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 0;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
}
/* line 225, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.modal-box * {
  pointer-events: none;
}
/* line 228, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.modal-box.closed {
  -webkit-transition: top 3s, height 0.5s, visibility 0.5s, opacity 0.5s linear;
  -moz-transition: top 3s, height 0.5s, visibility 0.5s, opacity 0.5s linear;
  -o-transition: top 3s, height 0.5s, visibility 0.5s, opacity 0.5s linear;
  transition: top 3s, height 0.5s, visibility 0.5s, opacity 0.5s linear;
}
/* line 231, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.modal-box.open {
  height: 100vh;
  opacity: 1;
  visibility: visible;
  -webkit-transition: top 3s, height 0.5s, visibility 0.5s, opacity 0.5s linear;
  -moz-transition: top 3s, height 0.5s, visibility 0.5s, opacity 0.5s linear;
  -o-transition: top 3s, height 0.5s, visibility 0.5s, opacity 0.5s linear;
  transition: top 3s, height 0.5s, visibility 0.5s, opacity 0.5s linear;
}
/* line 232, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.modal-box.open * {
  pointer-events: auto;
}
/* line 240, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.modal-box .outer {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
/* line 246, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.modal-box .inner {
  position: absolute;
  padding: 5vw;
  background-color: #fafafa;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1001;
}

/* line 258, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/user/_general.scss */
.round-image {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* line 10, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
html {
  -webkit-overflow-scrolling: touch;
}

/* line 14, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
html, body {
  height: 100%;
  font-family: "Proxima Nova";
  overflow-x: hidden;
  background-color: #f3f3f3;
}

/* line 22, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.banner {
  width: 100%;
}
/* line 23, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.banner:hover, .banner:active {
  text-decoration: none;
}
/* line 27, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.banner .cocktail-banner {
  margin-top: 50px;
  background-color: black;
  overflow: auto;
  position: relative;
  width: 100%;
  color: whitesmoke;
  text-align: center;
  padding: 20px;
  font-size: 1.875rem;
}
/* line 37, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.banner .cocktail-banner .orange {
  font-size: 2.0625rem;
  font-weight: bold;
  color: #f39c12;
}

/* line 46, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.home-header {
  position: relative;
  font-weight: 700;
}
/* line 49, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.home-header img {
  width: 100%;
}
/* line 51, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.home-header img.small {
  width: 100vw;
}
/* line 55, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.home-header .header-title {
  position: absolute;
  top: 25.33333333%;
  left: 15.76388889%;
  width: 68.47222222%;
  font-size: 5vw;
  color: white;
  border: 1vw solid white;
  box-sizing: border-box;
  padding: 4.16666667% 0 4.16666667% 4.16666667%;
}

/* line 71, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.how-it-works {
  padding: 60px 2.77777778% 0 2.77777778%;
  width: 100%;
}
/* line 74, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.how-it-works .white-panel {
  height: 450px;
  margin-top: 290px;
  width: 100%;
  background-color: #fafafa;
  padding: 0 2.94117647%;
}
/* line 80, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.how-it-works .white-panel .item {
  text-align: center;
  width: 27.03125%;
  margin: 0 3.125%;
  float: left;
}
/* line 85, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.how-it-works .white-panel .item img {
  width: 100%;
  height: auto;
  margin-top: -290px;
}
/* line 90, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.how-it-works .white-panel .item .oval {
  position: relative;
  display: table;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  margin: 30px auto 30px auto;
}
/* line 100, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.how-it-works .white-panel .item .oval .text {
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
}
/* line 106, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.how-it-works .white-panel .item .info {
  font-size: 25px;
}

/* line 113, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content {
  margin-top: 40px;
  padding: 0 6.73611111%;
}
/* line 116, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content > .info {
  margin-top: 40px;
  width: 100%;
  float: left;
  text-align: center;
  font-size: 2.5rem;
}
/* line 123, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content > .info .black {
  display: inline;
  color: #383838;
  font-weight: bold;
}
/* line 127, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content > .info .black a, .content > .info .black a:hover, .content > .info .black a:active {
  color: #383838;
}
/* line 132, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .restaurant-list {
  float: left;
  width: 100%;
}
/* line 135, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .restaurant-list .restaurant-box {
  float: left;
  width: 31.72690763%;
  margin: 10px 1.20481928%;
}
/* line 139, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .restaurant-list .restaurant-box:last-child {
  margin-right: 0;
}
/* line 142, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .restaurant-list .restaurant-box:first-child {
  margin-left: 0;
}
/* line 145, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .restaurant-list .restaurant-box .image {
  width: 100%;
  padding: 5.06329114% 5.06329114% 0 5.06329114%;
}
/* line 149, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .restaurant-list .restaurant-box .image img {
  width: 100%;
}
/* line 155, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .restaurant-list .restaurant-box .diinner-label * {
  font-family: "Proxima Nova";
}
/* line 158, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .restaurant-list .restaurant-box .diinner-label .title {
  font-size: 1.5625rem;
  font-weight: bold;
  color: #383838;
}
/* line 163, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .restaurant-list .restaurant-box .diinner-label .city {
  font-weight: lighter;
  font-size: 1.375rem;
}
/* line 172, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .blog-list {
  float: left;
  width: 80.96385542%;
  margin-left: 8.6746988%;
}
/* line 176, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .blog-list .blog-box {
  float: left;
  width: 30.68452381%;
  margin: 10px 1.98412698%;
}
/* line 181, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .blog-list .blog-box .diinner-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 20px 10px;
}
/* line 187, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .blog-list .blog-box:last-child {
  margin-right: 0;
}
/* line 190, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .blog-list .blog-box:first-child {
  margin-left: 0;
}
/* line 193, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .blog-list .blog-box a, .content .blog-list .blog-box a:active, .content .blog-list .blog-box a:hover {
  text-decoration: none;
}
/* line 196, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .blog-list .blog-box .image {
  width: 100%;
}
/* line 198, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .blog-list .blog-box .image img {
  width: 100%;
}
/* line 205, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .register-wrapper {
  text-align: left;
  margin-right: 2.40963855%;
  width: 100%;
  margin-top: 40px;
  float: left;
}
/* line 212, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .register-wrapper > .info {
  float: left;
  margin-right: 2.40963855%;
  font-size: 2.1875rem;
  color: #777777;
  width: 395px;
}
/* line 218, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .register-wrapper > .info .black {
  display: inline;
  color: #383838;
}
/* line 224, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .register-wrapper .register-box {
  float: right;
  width: 450px;
  max-width: 450px;
  font-size: 1.5625rem;
}
/* line 230, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .register-wrapper .register-box .diinner-label {
  font-weight: 500;
}
/* line 233, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .register-wrapper .register-box .area {
  padding: 40px;
}
/* line 240, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .test-wrapper {
  float: left;
  text-align: left;
  margin-right: 2.40963855%;
  width: 100%;
  margin-top: 40px;
}
/* line 247, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .test-wrapper > .info {
  float: right;
  margin-right: 2.40963855%;
  font-size: 2.1875rem;
  color: #777777;
  width: 395px;
}
@media screen and (max-width: 1200px) {
  /* line 247, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .content .test-wrapper > .info {
    width: 250px;
  }
}
/* line 258, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .test-wrapper > .info .black {
  display: inline;
  color: #383838;
}
/* line 264, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .test-wrapper .test-box {
  float: left;
  width: 65.86345382%;
  max-width: 600px;
  min-width: 500px;
}
/* line 269, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .test-wrapper .test-box .diinner-label {
  font-weight: 200;
}
/* line 272, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .test-wrapper .test-box .test-info {
  float: left;
  text-align: center;
  width: 100%;
  padding: 0 6.09756098%;
  height: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 1s linear;
  -moz-transition: visibility 0s, opacity 1s linear;
  -o-transition: visibility 0s, opacity 1s linear;
  transition: visibility 0s, opacity 1s linear;
}
/* line 281, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .test-wrapper .test-box .test-info.active {
  height: auto;
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0s, opacity 1s linear;
  -moz-transition: visibility 0s, opacity 1s linear;
  -o-transition: visibility 0s, opacity 1s linear;
  transition: visibility 0s, opacity 1s linear;
}
/* line 287, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .test-wrapper .test-box .test-info .title {
  margin-top: 20px;
  font-size: 1.5625rem;
  font-weight: bold;
}
/* line 292, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .test-wrapper .test-box .test-info .answer {
  width: 49.81412639%;
  padding: 6.69144981% 0;
  float: left;
  height: 250px;
}
/* line 298, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .test-wrapper .test-box .test-info .answer .wrapper {
  position: relative;
  padding: 0 6.69144981%;
  border: 0 solid #ff6f6f;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
}
/* line 305, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .test-wrapper .test-box .test-info .answer .wrapper.left {
  border-right-width: 2px;
}
/* line 308, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .test-wrapper .test-box .test-info .answer .wrapper.right {
  border-left-width: 2px;
}
/* line 311, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .test-wrapper .test-box .test-info .answer .wrapper .image {
  float: left;
  width: 100%;
}
/* line 314, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .test-wrapper .test-box .test-info .answer .wrapper .image img {
  max-height: 170px;
  max-width: 100%;
  width: auto;
}
/* line 320, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .test-wrapper .test-box .test-info .answer .wrapper .text {
  float: left;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  font-size: 1.5625rem;
}
/* line 328, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .test-wrapper .test-box .test-info .answer .wrapper .text.alone {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/* line 337, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .test-wrapper .test-box .down-box {
  padding-top: 40px;
}
/* line 339, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .test-wrapper .test-box .down-box > .diinner-label {
  padding: 25px;
  clear: both;
  font-size: 1.5rem;
}
/* line 344, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .test-wrapper .test-box .down-box .dot-list {
  width: 100%;
  text-align: center;
  padding: 0 38.41463415%;
}
/* line 348, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .test-wrapper .test-box .down-box .dot-list .dot {
  display: inline-block;
  margin: 15px 1.82926829% 10px 1.82926829%;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #f0f0f0;
  cursor: pointer;
}
/* line 356, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .test-wrapper .test-box .down-box .dot-list .dot.yellow {
  background-color: #ffd537;
}
/* line 366, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .matching {
  text-align: center;
  float: left;
  width: 100%;
  max-width: 450px;
  margin-left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin-top: 50px;
  font-size: 1.4rem;
  font-weight: 200;
  color: #383838;
}
/* line 377, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .matching .diinner-label {
  padding: 20px;
}
/* line 383, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .share-wrapper {
  float: left;
  width: 100%;
  margin-top: 40px;
  margin-left: 8.6746988%;
}
/* line 388, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .share-wrapper .share-box {
  width: 350px;
  padding: 15px;
}
/* line 393, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .share-wrapper .share-box .diinner-label img {
  height: 50px;
  margin: 0 3.79746835%;
}
/* line 401, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.content .share-wrapper .follow {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #777777;
}

/* line 413, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.footer {
  clear: both;
  height: 250px;
  width: 93.05555556%;
  margin-left: 3.47222222%;
  display: table;
  text-align: center;
  padding-top: 200px;
}
/* line 421, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.footer ul {
  display: table-cell;
  vertical-align: middle;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-top: 2px solid #777777;
}
/* line 428, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.footer ul li {
  font-size: 0.9125rem;
  display: inline-block;
  color: #777777;
  padding-right: 0.37313433%;
  box-sizing: border-box;
}
/* line 434, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.footer ul li a {
  color: #777777;
}

/* line 441, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.login-container {
  width: 100%;
  height: 100%;
}
/* line 444, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.login-container .before-login {
  font-size: 0.9rem;
  margin-bottom: 10px;
}
/* line 448, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.login-container .after-login {
  width: 100%;
  font-size: 0.8rem;
  cursor: pointer;
  text-decoration: underline;
}
/* line 453, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.login-container .after-login .explanation {
  width: 100%;
  padding: 10px;
  background-color: white;
  position: absolute;
  left: 0;
}
/* line 461, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.login-container .logo {
  padding-bottom: 10%;
  margin-bottom: 10%;
  border: 0 solid #ffd537;
  border-bottom-width: 1px;
}
/* line 469, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.login-container #login-panel #a0-lock * {
  font-family: "Proxima Nova" !important;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
  text-align-last: auto;
}
/* line 475, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.login-container #login-panel .a0-last-time {
  display: none !important;
}
/* line 478, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.login-container #login-panel .a0-header, .login-container #login-panel .a0-footer {
  display: none !important;
}
/* line 482, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.login-container #login-panel img {
  width: 100%;
}

/* line 487, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.tests-info {
  padding: 20px;
  text-align: center;
  font-family: "Proxima Nova" !important;
  font-weight: 200;
}
/* line 492, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.tests-info .icon {
  margin-top: 10px;
  font-size: 2.5rem;
  color: #ff6f6f;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 501, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.login-link {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  /* line 507, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .cocktail-banner {
    font-size: 1.75rem;
  }
  /* line 509, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .cocktail-banner .orange {
    font-size: 1.875rem;
  }

  /* line 513, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .home-header {
    clear: both;
  }
  /* line 515, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .home-header .header-title {
    font-size: 7vw;
    border: 2vw solid white;
  }

  /* line 522, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .how-it-works .white-panel {
    margin-top: 150px;
  }
  /* line 524, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .how-it-works .white-panel .item {
    width: 31.18875502%;
    margin: 10px 0.80321285%;
  }
  /* line 527, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .how-it-works .white-panel .item img {
    margin-top: -150px;
  }
  /* line 530, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .how-it-works .white-panel .item .info {
    font-size: 1.25rem;
  }
  /* line 533, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .how-it-works .white-panel .item .oval {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  /* line 538, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .how-it-works .white-panel .item .oval .text {
    font-size: 1.5625rem;
  }

  /* line 547, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .content .info {
    font-size: 2.25rem;
  }
  /* line 550, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .content .restaurant-list {
    width: 100%;
  }
  /* line 552, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .content .restaurant-list .restaurant-box {
    width: 47.59036145%;
  }
  /* line 555, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .content .restaurant-list .restaurant-box:last-child {
    display: none;
  }
  /* line 559, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .content .blog-list {
    width: 100%;
    margin-left: 0;
  }
  /* line 562, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .content .blog-list .blog-box {
    width: 31.18875502%;
    margin: 10px 1.6064257%;
  }
  /* line 569, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .content .share-wrapper {
    margin-left: 0;
  }
  /* line 575, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .content .register-wrapper > .info {
    float: none;
    clear: both;
    text-align: center;
    width: 60%;
    margin: auto;
  }
  /* line 583, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .content .register-wrapper .register-box {
    width: 100%;
    float: none;
    clear: both;
    margin: auto;
    margin-top: 40px;
  }
  /* line 595, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .content .test-wrapper > .info {
    float: none;
    clear: both;
    text-align: center;
    width: 60%;
    margin: auto;
  }
  /* line 603, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .content .test-wrapper .test-box {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    float: none;
    clear: both;
    margin: auto;
    margin-top: 40px;
  }
}
@media screen and (max-width: 768px) {
  /* line 619, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .banner {
    display: none;
  }
  /* line 621, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .banner .cocktail-banner {
    font-size: 1.75rem;
  }
  /* line 623, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .banner .cocktail-banner .orange {
    font-size: 1.875rem;
  }

  /* line 630, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .home-header .header-title {
    font-size: 7vw;
    border: 2vw solid white;
  }

  /* line 635, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .how-it-works {
    margin-top: auto;
    padding-top: 15px;
  }
  /* line 638, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .how-it-works .white-panel {
    margin-top: 0px;
    height: auto;
    width: 100%;
    margin-left: 0;
  }
  /* line 643, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .how-it-works .white-panel .item {
    float: none;
    width: 300px;
    margin: 20px auto;
  }
  /* line 647, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .how-it-works .white-panel .item img {
    margin-top: 20px;
    width: 50%;
  }
  /* line 651, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .how-it-works .white-panel .item .oval {
    display: none;
  }
  /* line 654, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .how-it-works .white-panel .item .info {
    margin-top: 10px;
    font-size: 1.25rem;
  }
  /* line 660, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .how-it-works .white-panel .item:last-child .info {
    padding-bottom: 20px;
  }

  /* line 667, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .content {
    margin-top: 0;
  }
  /* line 669, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .content .info {
    margin-top: 0;
    font-size: 2.25rem;
  }
  /* line 674, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .content .restaurant-list .restaurant-box {
    width: 100%;
  }
  /* line 679, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .content .blog-list {
    width: 100%;
    margin-left: 0;
  }
  /* line 682, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .content .blog-list .blog-box, .content .blog-list .blog-box:first-child, .content .blog-list .blog-box:last-child {
    float: none;
    width: 250px;
    margin: 20px auto;
  }
  /* line 689, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .content .share-wrapper {
    margin-left: 0;
    max-width: 100%;
    text-align: center;
  }
  /* line 693, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .content .share-wrapper .share-box {
    max-width: 100%;
    margin: auto;
  }
  /* line 700, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .content .register-wrapper > .info {
    width: 80%;
    font-size: 1.8rem;
  }
  /* line 707, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .content .test-wrapper {
    display: none;
  }
  /* line 710, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .content .test-wrapper > .info {
    width: 80%;
    font-size: 1.8rem;
  }
  /* line 718, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .content .test-wrapper .test-box .answer .wrapper .text.alone {
    left: 0;
  }
  /* line 725, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .content .test-wrapper .test-box .down-box .dot-list {
    padding: 0;
    margin: auto;
  }

  /* line 733, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .matching {
    display: none;
  }

  /* line 737, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .info.blog {
    margin-top: 20px;
  }

  /* line 740, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .footer {
    clear: both;
    height: auto;
    width: 100%;
    margin: auto;
    padding: 40px 0 20px 0;
  }
  /* line 746, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .footer ul {
    padding-top: 10px;
    display: auto;
  }
  /* line 749, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .footer ul li {
    font-size: 0.9375rem;
    display: block;
  }
  /* line 752, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .footer ul li a {
    color: #777777;
  }
  /* line 755, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .footer ul li.slash {
    display: none;
  }
}
/* line 763, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.user-container {
  padding-top: 52px !important;
}
/* line 764, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.user-container .restaurant-info {
  margin-bottom: 20px;
}
/* line 767, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.user-container .separator {
  min-height: 5vh;
  position: relative;
  clear: both;
}
/* line 773, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.user-container .plan-info .plan-label {
  font-weight: bold;
}
/* line 776, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.user-container .plan-info .plan-value {
  color: #777777;
}
/* line 779, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.user-container .plan-info .map {
  margin-top: 10px;
}

@media (min-width: 769px) and (max-width: 1400px) {
  /* line 786, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .user-container {
    width: 70%;
    margin: auto;
  }
}
@media (min-width: 1400px) {
  /* line 792, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
  .user-container {
    width: 55%;
    margin: auto;
  }
}
/* line 799, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.custom-button {
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: white;
  color: #383838;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding: 0 12px;
  min-width: 52px;
  border: 1px solid #383838;
  border-radius: 0;
  vertical-align: center;
  text-align: center;
  text-overflow: ellipsis;
  line-height: 42px;
  cursor: pointer;
  text-decoration: none;
}
/* line 817, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.custom-button.button-calm {
  margin-left: 10px;
}
/* line 823, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.custom-button.button-danger {
  color: #ff6f6f;
  border: 1px solid #ff6f6f;
}
/* line 828, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.custom-button.button-assertive {
  border-color: #e42112;
  background-color: #e42112;
  color: #fff;
}
/* line 833, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.custom-button.button-balanced {
  border-color: #28a54c;
  background-color: #28a54c;
  color: #fff;
}

/* line 840, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.menu-data {
  font-weight: bold;
}
/* line 842, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.menu-data .menu-description {
  font-weight: normal;
  margin-bottom: 10px;
  color: #777777;
  font-weight: 300;
}
/* line 849, /home/dorgroi/Projects/crowtec/others/diinner/app/assets/stylesheets/home.scss */
.menu-data .menu-element {
  margin-top: 5px;
  color: #777777;
}
