.search-results
  - if @suggestions && @suggestions.length > 0
    - @suggestions.each do |suggestion|
      = render 'partials/suggestion', suggestion: suggestion
  - else
    .no-suggestions
javascript:
  $(".see-menu").click(function (e) {
    var parent = $(this).parent().parent().parent();
    parent.find(".head").toggleClass("out");
    parent.find(".text").toggleClass("sr-only");

  });
  $(".toggle-description").click(function (e) {
    $(this).parent().find(".restaurant-description").toggleClass("out");
  });