.search-results
  - @suggestions.each do |suggestion|
    = render 'partials/suggestion', suggestion: suggestion
a.back.bi_interface-arrow-left href=""
  | Volver
javascript:
  $(".see-menu").click(function (e) {
    var parent = $(this).parent().parent().parent();
    parent.find(".head").toggleClass("sr-only");
    parent.find(".text").toggleClass("sr-only");

  });
  $(".toggle-description").click(function (e) {
    $(this).parent().find(".restaurant-description").toggleClass("sr-only");
  });
  $(".back").click(function(){
    window.history.back();
  });