div.location data={current_lat: "#{@model.latitude}",\
                  current_lng: "#{@model.longitude}",\
                  current_lng: "#{@model.name}",\
                  current_lng: "#{@model.longitude}",\
                  }
