<!-- TODO this is not really a cell -->
<% if model %>
<div id="map-config" data-token="#{ENV['mapbox_access_token']}"
data-style="#{ENV['map_style']}"
                     data-google-key="#{ENV['google_geolocation_key']}"
                     data-current-lat="#{model.latitude}"
                     data-current-lng="#{model.longitude}">
</div>
<% end %>