= tag("div", :id => 'map-config', :data => {:token => ENV['mapbox_access_token'], :style => ENV['map_style'], :google_key => ENV['google_geolocation_key'], :current_lat => model.latitude, :current_lng => model.longitude }) 