#login-panel style=("width: 280px; margin: 40px auto; padding: 10px; border-style: none; border-width: 1px;")
  | embeded area

div#request data-host="#{request.host}" data-port="#{request.port}"

= javascript_include_tag "https://cdn.auth0.com/js/lock-7.1.min.js"

= javascript_include_tag "auth0"

div.user-phone-mockup
  = image_tag "http://res.cloudinary.com/hotvlwxi4/image/upload/c_scale,w_500/v1430323329/DIINNER_APP-04_sadpec.png"