form.navbar-form.navbar-right.hidden-xs action="/admin/search" method="get"
  button.btn.btn-link.icon-search type="submit"
  .form-group
    input#q_header.form-control autocomplete="off" name="query" placeholder="Search..." type="text" value="" /