tr New test
tr == cell(:test, activity.trackable.test).updated_timeago
tr = activity.trackable.response
tr == cell(:test, activity.trackable.test).show_link
tr == cell(:user, activity.owner).show_link