@import 'font';
@import 'color';
@import 'budicon/all';

html, body{
  font-family: "Proxima Nova";
}

.button{
  font-family: "Proxima Nova";
}

ion-list{
  ion-item{
    span{
      text-decoration: none;
      color: $customBlack;
    }
  }
}

.nav-bar-title{
  img{
    margin-top: 6px;
    height: 30px;
    width: auto;
  }
}

.item-icon-left .icon, .item-icon-right .icon{
  font-size: 1.2em !important;
}

.user-image-container{
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-color: $themeYellow;
  .user-image-inner{
    width:100%;
    text-align: center;
    position: absolute;
    z-index: 100;
    margin-top: 50px;
    .user-thumbnail{
      width: 120px;
      border: 3px solid $customWhite;
      border-radius: 50%;
    }
    .user-name{
      text-align: center;
      font-size: 1.5em;
      margin-top: 10px;
      color: $customWhite;
      text-shadow: 0px 0px 5px 1px $customBlack;
      font-weight: bold;
    }
    .user-email{
      color: $customWhite;
      text-shadow: 0px 0px 5px 1px $customBlack;
    }
  }

  .user-background{
    width:120%;
    height: auto;
    margin-left: -10%;
    margin-top: -10%;
  }
}

.content-with-background{
  background-image: url("../images/background.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#login-container{
  margin-top: 30px;
  width: 100%;
  text-align: center;
  .login-logo-container{
    img{
      width: 70%;
      max-width: 600px;
      margin: 15px auto;
    }
  }
  button{
    margin: 10px auto;
    width: 200px;
    height: 40px;
    padding: 10px 20px;
    color: $customWhite;
    font-family: "Proxima Nova";
    font-weight: bold;
    -webkit-appearance: none;
    border: none;
    border-radius: 5px;
    text-align: left;
    span{
      padding-left: 5px;
    }
    &.login-google{
      background-color: rgba($google, 0.9);
    }
    &.login-facebook{
      background-color: rgba($facebook, 0.9);
    }
  }
}

#logout-item{
  #log-out-button{
    border: none;
    outline: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
  }
}

.card{
  margin-bottom: 15px;
}

#map {
  width: 100%;
  height: 50vh;
}

.scroll {
  height: 100%;
}

.title-bar-button{
  border: none !important;
  padding: none;
}

.notification-container{
  font-size: 20px;
  margin-top: 50px;
  width: 100%;
  text-align: center;
  color: $textGray;
}

.text-custom-red{
  color: $customRed;
  &:link, &:hover, &:active, &:visited{
    color: $customRed;
  }
}

rzslider{
  max-width: 90%;
  font-size: 12px;
}

.rz-bubble{
  color: $customBlack !important;
  text-decoration: none !important;
}

.restaurant-photo-container{
  width: 100%;
  overflow: hidden;
  padding: 0px;
  img{
    width: 100%;
  }
}

.affinity{
  color: $textGray;
  font-size: 36px;
}

.login-reminder{
  font-size: 14px;
  margin-top: 50px;
  width: 100%;
  text-align: center;
  color: $customWhite;
}

.female span{
  color: $femalePink;
}

.male span{
  color: $maleBlue;
}

.loading-container{
  background-color: rgba(0,0,0,0.1);
}
.loading{
  background-color: rgba(0,0,0,0.1);
}

.test-item{
  width: 100%;
  .test-image{
    max-width: 40%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid $lineGray;
    border-radius: 15px;
    overflow: hidden;
    img{
      width: 100%;
      height: auto;
    }
  }
  .test-text{
    width: 100%;
    text-align: center;
  }
}

.bar-header{
  h2{
    font-family: 'Proxima Nova';
  }
}

.long-text{
  padding: 15px;
}

.login-reminder{
  max-width: 70%;
  margin: 30px auto;
}

.first-login-title{
  background-color: $themeYellow;
  color: $customWhite;
  padding: 15px;
}

.wizard-button{
  border: 1px solid $lineGray !important;
}

.restaurant-photo{
  padding: 0px;
  img{
    width: 100%;
  }
}
