/ - content_for(:title) do
/   | Logs

/ - content_for(:thead) do
/   th Action
/   th Time
/   th Info

/ - content_for(:tbody) do
/   == cell(:log, collection: @logs, method: :row)

/ = render "admin/admin_table"

/ = will_paginate @logs

= render_activities(@activities)