= f.error_notification
= f.input :name
= f.input :description
= f.input :contact_person
= f.input :photo, as: :attachinary
= f.input :phone
= f.input :address
= f.association :city, :input_html => {:onchange => "MAP.updateMap();"}, :include_blank => false
div#map
= f.input :latitude, :as => :hidden
= f.input :longitude, :as => :hidden
= f.button :submit

== cell(:restaurant, @restaurant).location

javascript:
  $(document).ready(function () {
    $('.attachinary-input').attachinary();
  });