= f.error_notification
= f.input :name 
= f.input :description
= f.input :phone
= f.input :address
/ TODO this list should be in config
= f.input :city, :collection => ['Madrid', 'Barcelona', 'Valencia', 'Sevilla']
button.update-map.btn.btn-default type="button" Update Map
div#restaurant-map
= f.input :latitude
= f.input :longitude
= f.button :submit