@import 'j_growl_rails/jquery.jgrowl';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'flatty/theme-colors';
@import 'flatty/light-theme';
@import 'font';
@import 'color';

.notice, .alert{
  display: none;
}

html, body{
  font-size: 14px;
  font-weight: 400;
  font-family: 'Gotham';
}

@mixin links-container(){
  width: 100%;
  padding: 10px 15px 20px 15px;
  a{
    padding: 5px;
    img{
      display: inline-block;
      height: 50px;
      cursor: pointer;
    }
  }
}

#navbar-home{
  border-radius: none;
  background-color: $translucentWhite;
  height: 60px;
  padding-left: 1vw;
  padding-right: 1vw;
  .navbar-brand{
    img{
      height: 25px;
      width: auto;
    }
  }
  .navbar-toggle{
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
    background: none;
    &:hover, &:focus{
      background: none;
    }
    .icon-bar{
      background-color: $navbarText;
    }
  }
  .navbar-right{
    a:link, a:hover, a:visited, a:active{
      color: $navbarText;
    }
  }

  @media(min-width: 768px){
    .navbar-link{
      padding: 0px 15px;
      margin-top: 20px;
      border-left: 1px solid $navbarText;
    }
  }
  
  @media(max-width: 767px){
    .navbar-right{
      text-align: center;
    }
    .navbar-collapse{
      background-color: $translucentWhite;
      border: none;
      a:hover{
        background-color: $navbarText;
        color: $translucentWhite;
      }
    }
  }
}

.home-header{
  margin-top: 60px;
  img{
    width:100%;
  }
}

section{
  margin-top: 10px;
  position: relative;
  .section-bg{
    width:100%;
    position: relative;
  }
  .footer{
    position: absolute;
    bottom: 0;
    left: 30px;
    right: 30px;
    text-align: center;
    .footer-up{
      padding: 30px 0px;
      .app-store-links{
        @include links-container();
      }
    }
    .footer-down{
      border-top: 2px solid black;
      padding: 30px 0px 15px 0px;
      .social-links{
        @include links-container();
      }
      .copyright{
        font-size: 0.9em;
      }
    }
  }
}

.user-phone-mockup{
  width: 100%;
  text-align: center;
  padding-left: 15px;
}