@import 'j_growl_rails/jquery.jgrowl';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font';
@import 'color';
@import 'mobile';
@import 'budicon/all';

.notice, .alert{
  display: none;
}

.link-btn{
  padding: 8px;
  margin: 2px;
  border-radius: 3px;
  &:hover{
    color: white;
    background-color: $linkBlue; 
  }
}

.title-link{
  padding-top: 20px;
  .new-link{
    font-weight: 200;
    text-decoration: none;
    color: $buttonYellow;
    padding: 8px 10px;
    border: 1px solid $buttonYellow;
    border-radius: 3px;
    &:hover, &:active{
      color: white;
      text-decoration: none;
      background-color: $buttonYellow;
    }
  }
}

html, body{
  font-size: 14px;
  font-weight: 400;
  font-family: 'Proxima Nova';
  color: $textGray;
  overflow-x: auto; 
}

a{
  color: $linkBlue;
  &:hover{
    color: $linkBlueHover;
  }
}

h1{
  font-weight: 200;
  color: $textDarkGray;
}

@mixin links-container(){
  width: 100%;
  padding: 10px 15px 20px 15px;
  a{
    padding: 5px;
    img{
      display: inline-block;
      height: 50px;
      cursor: pointer;
    }
  }
}

.navbar-main{
  border-radius: none;
  background-color: $translucentWhite;
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  .navbar-brand{
    img{
      height: 25px;
      width: auto;
    }
  }
  &#navbar-base{
    @media(min-width: 1024px){
      padding-left: 5%;
      padding-right: 5%;
    }
    @media(max-width: 767px){
      .navbar-right{
        float: right;
        margin-top: 0px;
        margin-bottom: 0px;
        .nav-item{
          display: inline-block;
          .dropdown-menu{
            float: left;
            background-color:white;
            right: 0;
            left: auto;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            border: 1px solid rgba(0, 0, 0, 0.15);
            position: absolute;
          }
        }
      }
    }
    .navbar-right{
      padding-right: 15px;
      .nav-item{
        .navbar-link{
          padding-top: 20px;
          padding-bottom: 20px;
        }
        .navbar-log-menu{
          width: 300px;
          .log-notification-item{
            white-space: normal;
            i{
              margin-right: 5px;
            }
            .text-muted{
              padding-left: 5px;
            }
          }
        }
        #search-form{
          margin: 13px 15px;
          padding: 0;
          button{
            &:hover, &:active{
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  &#navbar-home{
    .navbar-toggle{
      border: none;
      margin-top: 15px;
      margin-bottom: 15px;
      background: none;
      &:hover, &:focus{
        background: none;
      }
      .icon-bar{
        background-color: $navbarText;
      }
    }
    .navbar-right{
      a:link, a:hover, a:visited, a:active{
        color: $navbarText;
      }
    }
  
    @media(min-width: 768px){
      .navbar-link{
        padding: 0px 15px;
        margin-top: 20px;
        border-left: 1px solid $navbarText;
      }
    }
    
    @media(max-width: 767px){
      .navbar-right{
        text-align: center;
      }
      .navbar-collapse{
        background-color: $translucentWhite;
        border: none;
        a:hover{
          background-color: $navbarText;
          color: $translucentWhite;
        }
      }
    }
  }
}

.home-header{
  margin-top: 60px;
  img{
    width:100%;
  }
}

.main-container{
  width: 100%;
  #wrapper{
    position: absolute;
    margin-top: 80px;
    width: 20%;
    padding: 0px 15px;
    display: inline-block;
    #main-nav{
      .nav-stacked{
        li a{
          max-width: 100%;
          font-size: 1.1em;
          &:link, &:hover, &:active, &:visited{
            color: $textGray;
          }
          span{
            padding-left: 10px;
          }
        }
      }
    }
  }
  
  #content{
    position: absolute;
    width: 80%;
    margin-left: 20%;
    padding: 65px 15px 0px 15px;
    display: inline-block;
  }

  @media(min-width: 1024px){
    margin: 0px 5%;
    #wrapper{
      width: 18%;
    }
    #content{
      margin-left: 18%;
      width: 72%;
    }
  }
  @media(max-width: 991px){
    #wrapper{
      width: 991 * 0.2px;
    }
    #content{
      margin-left: 991 * 0.2px;
      width: 991 * 0.8px;
    } 
  }
}


section{
  position: relative;
  .section-bg{
    width:100%;
    position: relative;
  }
  .footer{
    position: absolute;
    bottom: 0;
    left: 30px;
    right: 30px;
    text-align: center;
    .footer-up{
      padding: 30px 0px;
      .app-store-links{
        @include links-container();
      }
    }
    .footer-down{
      border-top: 2px solid black;
      padding: 30px 0px 15px 0px;
      .social-links{
        @include links-container();
      }
      .copyright{
        font-size: 0.9em;
      }
    }
  }
}

#jGrowl{
  top: 60px;
  .jGrowl-notification{
    color: $textGray;
    background-color: $translucentWhite;
    opacity: 1;
    font-family: 'Proxima Nova';
    font-size: 1.1em;
    border: 1px solid $lightGray;
    .jGrowl-close{
      line-height: 1em;
      font-size: 1.5em;
    }
  }
}

.user-phone-mockup{
  width: 100%;
  text-align: center;
  padding-left: 15px;
}