@import 'color';

.calendar{
  padding-top: 20px;
  .calendar-header{
    font-size: 2em;
    text-align: center;
    margin-bottom: 15px;
    span{
      font-weight: 200;
      color: $textDarkGray;
      padding: 0 30px;
    }
    a{
      font-weight: 200;
      width:50px;
      padding: 3px 15px;
      border: 1px solid $lightGray;
      border-radius: 3px;
      &:link, &:visited{
        color: $textGray;
        text-decoration: none;
        background-color: white;
      }
      &:hover, &:active{
        color: white;
        text-decoration: none;
        background-color: $lightGray;
      }
    }
  }
  table{
    font-size: 1.5em;
    table-layout: fixed;
    width: 100%;
    padding: 12px;
    th{
      text-align: center;
      font-weight: 400;
      padding: 10px;
    }
    & > .day{
      padding: 10px;
      font-weight: 200;
      text-align: center;
      color: $textDarkGray;
      &.prev-month, &.next-month, &.past{
        a:link, a:hover, a:active, a:visited{
          color: $lightGray;
        }
        .status-table{
          opacity: 0.3;
          a:link, a:hover, a:active, a:visited{
            color: $textDarkGray;
          }
        }
      }
      &.today{
        a{
          text-align: center;
          font-weight: 400;
          text-decoration: underline !important;
          padding: 5px;
          border-radius: 20px;
        }
        .status-table{
          a{
            background-color: transparent;
            padding: 0;
            border-radius: 0;
          }
        }
      }
      a:link, a:hover, a:active, a:visited{
        text-decoration: none;
        color: $textGray;
      }
    }
    .status-table{
      font-size: 0.75em;
      text-align: center;
      background-color: $textGray;
      a:link, a:hover, a:active, a:visited{
        text-decoration: none;
        color: white;
      }
      &:not(:last-of-type){
        margin-bottom: 3px;
      }
      &.full{
        background-color: $tableFull;
      }
      &.plan_closed{
        background-color: $tablePlanClosed;
      }
      &.partial{
        background-color: $tablePartial;
      }
      &.empty{
        background-color: $tableEmpty;
      }
    }
  }
}