@import 'color';

.calendar{
  padding-top: 20px;
  .calendar-header, .simple-calendar{
    font-size: 2em;
    text-align: center;
    margin-bottom: 15px;
    > span{
      font-weight: 200;
      color: $textDarkGray;
      padding: 0 30px;
    }
    > a{
      font-weight: 200;
      width:50px;
      float: right;
      &:link, &:visited, &:hover, &:active{
        color: $textGray;
        text-decoration: none;
      }
      &:first-child{
        float: left;
      }
    }
  }
  table{
    font-size: 1.5em;
    table-layout: fixed;
    width: 100%;
    padding: 12px;
    a:link, a:hover, a:active, a:visited{
      text-decoration: none !important;
    }
    th{
      text-align: center;
      font-weight: 400;
      padding: 10px;
    }
     .day{
      padding: 10px;
      font-weight: 200;
      text-align: center;
      color: $textDarkGray;
      &.prev-month, &.next-month, &.past{
          color: $lightGray;
        .status-table{
          opacity: 0.3;
            color: $textDarkGray;
        }
      }
      &.today{
          text-align: center;
          font-weight: 400;
          padding: 10px;
          border: 3px solid $themeYellow;
        .status-table{
            background-color: transparent;
            padding: 0;
            border-radius: 0;
        }
      }

        text-decoration: none ;
        color: $textGray;
    }
    .status-table{
      font-size: 0.75em;
      text-align: center;
      background-color: $textGray;
      color: white;

      &.pending{
        background-color: $buttonYellow !important;
      }
      &.confirmed{
        background-color: $tableFull !important;
      }
      &:not(:last-of-type){
        margin-bottom: 3px;
      }
      &.full{
        background-color: $tableFull;
      }
      &.plan_closed{
        background-color: $tablePlanClosed;
      }
      &.partial{
        background-color: $tablePartial;
      }
      &.empty{
        background-color: $tableEmpty;
      }
    }
  }
}