$translucentWhite : rgba(255, 255, 255, 0.95);
$navbarText       : black;
$themeYellow      : #fbcd31;
$buttonYellow     : #f39c12;
$lightGray        : #e7e7e7;
$textGray         : #777777;
$textDarkGray     : #333333;
$textMuted        : #dedede;
$linkBlue         : #3498db; 
$linkBlueHover    : #2980b9;
$tableFull        : #0D9948;
$tablePlanClosed  : #79D901;
$tablePartial     : #F2CD2C;
$tableEmpty       : #CCCCCC;
$tableCancelled   : #c0392b;
$todayHighlight   : #34495e;