$translucentWhite : rgba(255, 255, 255, 0.95);
$navbarText       : black;
$themeYellow      : #fbcd31;
$themeBlue        : #11c1f3;
$balancedGreen    : #28a54c;
$assertiveRed     : #e42112;
$buttonYellow     : #f39c12;
$lightGray        : #c9c9c9;
$textGray         : #777777;
$textDarkGray     : #333333;
$textBlack        : black;
$textMuted        : #dedede;
$backGray         : #F3F3F3;
$linkBlue         : #3498db; 
$linkBlueHover    : #2980b9;
$tableFull        : #0D9948;
$tablePlanClosed  : #79D901;
$tablePartial     : #F2CD2C;
$tableEmpty       : #CCCCCC;
$tableCancelled   : #c0392b;
$todayHighlight   : #34495e;
$alertWarning     : #c0392b;
$buttonPink       : #ff6f6f;
$panelWhite       : #fafafa;