$translucentWhite : rgba(255, 255, 255, 0.95);
$navbarText       : black;
$themeYellow      : #fbcd31;
$bgMapDiv         : #CCCCCC;
$textGray         : #777777;
$linkBlue         : #0a86b1; 
$linkBlueHover    : #34495e;
$linkBackground   : #efefef;