$translucentWhite : rgba(255, 255, 255, 0.95);
$navbarText       : black;
$themeYellow      : #fbcd31;
$buttonYellow     : #f39c12;
$lightGray        : #e7e7e7;
$textGray         : #777777;
$textDarkGray     : #333333;
$textMuted        : #dedede;
$linkBlue         : #3498db; 
$linkBlueHover    : #2980b9;
$tableFull        : #1abc9c;
$tablePlanClosed  : #2ecc71;
$tablePartial     : #f39c12;
$tableEmpty       : #CCCCCC;