  @font-face {
  font-family: 'Proxima Nova';
  src: font-url('ProximaNova-Thin.eot'); /* IE9 Compat Modes */
  src: font-url('ProximaNova-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('ProximaNova-Thin.woff') format('woff'), /* Modern Browsers */
       font-url('ProximaNova-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
       font-url('ProximaNova-Thin.svg#ProximaNova-Thin') format('svg'); /* Legacy iOS */
  font-weight: 200;
}

@font-face {
  font-family: 'Proxima Nova';
  src: font-url('ProximaNova-Regular.eot'); /* IE9 Compat Modes */
  src: font-url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('ProximaNova-Regular.woff') format('woff'), /* Modern Browsers */
       font-url('ProximaNova-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       font-url('ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'); /* Legacy iOS */
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: font-url('ProximaNova-Semibold.eot'); /* IE9 Compat Modes */
  src: font-url('ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       font-url('ProximaNova-Semibold.woff') format('woff'), /* Modern Browsers */
       font-url('ProximaNova-Semibold.ttf') format('truetype'), /* Safari, Android, iOS */
       font-url('ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg'); /* Legacy iOS */
  font-weight: 700;
}

@font-face {
  font-family: 'Raleway';
  src: url('Raleway-ExtraLight.eot'); /* IE9 Compat Modes */
  src: url('Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Raleway-ExtraLight.woff') format('woff'), /* Modern Browsers */
       url('Raleway-ExtraLight.ttf') format('truetype'), /* Safari, Android, iOS */
       url('Raleway-ExtraLight.svg#Raleway-ExtraLight') format('svg'); /* Legacy iOS */
  font-weight: 200;
}



