@import "compass";
@import 'application';
@import "user/variables";
@import "user/general";
@import "user/navigation";

html, body{
  height: 100%;
  font-family: "Proxima Nova";
  overflow-x: hidden;
  background-color: $backGray;
}

.home-header{
  position: relative;
  font-weight: 700;
  img{
    width:100%;
  }
  .header-title {
    position: absolute;
    top: calculatePercent(190px, 750px);
    left: calculatePercent(227px, $lg-width);
    width: calculatePercent(986px, $lg-width);
    font-size: calculateRem(90px);
    color: white;
    border: 15px solid white;
    box-sizing: border-box;
    $padding: calculatePercent(60px, $lg-width);
    padding: $padding 0 $padding $padding;
  }
}

.how-it-works{
  color: $textBlack;
  padding: 60px calculatePercent(40px, $lg-width) 0 calculatePercent(40px, $lg-width);
  .item{
    text-align: center;
    img{
      width: 100%;
      position: relative;
      z-index: 100;
    }
  }

}
.white-panel{
  width: 100%;
  background-color: $panelWhite;
  .oval {
    position: relative;
    display: table;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    overflow: hidden;
    @include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.26));
    margin: 30px auto 30px auto;

    .text{
      font-size: 30px;
      display: table-cell;
      vertical-align: middle;
    }
  }
  .info{
    font-size: 25px;
  }
  .diinner-label {
    font-size: calculateRem(30px);
    margin-top: 30px;
  }
  &.negative-top{
    margin-top: -85px;
    .oval{
      margin: 115px auto 30px auto;
      font-size: 30px;
    }
  }
}

.box{
  position: relative;
  background-color: $boxBackground;
  @include box-shadow($boxShadow 2px 2px 6px 0);
}

.content{
  margin-top: 40px;
  padding: 0 calculatePercent(97px, $lg-width);
  .restaurant-list{
    min-width: calculatePercent(1245px, $lg-width);
    .restaurant-box{
      float: left;
      width: calculatePercent(395px, 1245px);
      &:not(:last-child){
        margin-right: calculatePercent(30px, 1245px);
      }
      .image{
        width: 100%;
        $padding: calculatePercent(20px, 395px);
        padding: $padding $padding 0 $padding;
        img{
          width: 100%;
        }
      }
      .diinner-label {
        *{
          font-family: "Montserrat";
        }
        .title{
          font-size: calculateRem(28px);
          font-weight: bold;
          color: $textDarkGray;
        }
        .city{
          font-weight: lighter;
          color: $textBlue;
        }
      }
    }
  }

  .register-box{
    float: left;
    width: calculatePercent(395px, 1245px);
    margin-right: calculatePercent(30px, 1245px);
    clear:both;
    .diinner-label {
      font-weight: 500;
      font-size: calculateRem(25px);
    }
  }
}

.diinner-label{
  &.yellow{
    background-color: $themeYellow;
  }
  &.pink{
    background-color: $buttonPink;
    color: white;
  }
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer{
  clear: both;
}
