@import "compass";
@import 'application';
@import "user/variables";
@import "user/general";
@import "user/navigation";



html, body{
  height: 100%;
  font-family: "Proxima Nova";
  overflow-x: hidden;
}

.home-header{
  position: relative;
  font-weight: 700;
  img{
    width:100%;
  }
  .header-title{
    position: absolute;
    top: calculatePercent(190px, 750px);
    left: calculatePercent(227px, $lg-width);
    width: calculatePercent(986px, $lg-width);
    font-size: calculateRem(90px);
    color: white;
    border: 15px solid white;
    box-sizing: border-box;
    $padding: calculatePercent(60px, $lg-width);
    padding: $padding 0 $padding $padding;
  }
}


.box{
  background-color: $boxBackground;
  @include box-shadow($boxShadow 2px 2px 6px 0);
}

.content{
  margin-top: 40px;
  padding: 0 calculatePercent(97px, $lg-width);
  .restaurant-list{
    min-width: calculatePercent(1245px, $lg-width);
    .restaurant-box{
      float: left;
      width: calculatePercent(395px, 1245px);
      &:not(:last-child){
        margin-right: calculatePercent(30px, 1245px);
      }
      .image{
        width: 100%;
        $padding: calculatePercent(20px, 395px);
        padding: $padding $padding 0 $padding;
        img{
          width: 100%;
        }
      }
      .yellow-label{
        background-color: $themeYellow;
        width: 100%;
        text-align: center;
        padding: 30px 0;
        font-family: "Montserrat";
        .title{
          font-size: calculateRem(28px);
          font-weight: bold;
          color: $textDarkGray;
        }
        .city{
          font-weight: lighter;
          color: $textBlue;
        }
      }
    }
  }
  .register-box{
    clear:both;
  }
}