@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/transform";
@import 'font';
@import 'color';
@import "user/variables";
@import "user/navigation";
@import "user/general";

html, body{
  height: 100%;
  font-family: "Proxima Nova";
  overflow-x: hidden;
  background-color: $backGray;

  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.home-header{
  position: relative;
  font-weight: 700;
  img{
    width:100%;
    &.small{
      width: 100vw;
    }
  }
  .header-title {
    position: absolute;
    top: calculatePercent(190px, 750px);
    left: calculatePercent(227px, $lg-width);
    width: calculatePercent(986px, $lg-width);
    font-size: 5vw;
    color: white;
    border: 1vw solid white;
    box-sizing: border-box;
    $padding: calculatePercent(60px, $lg-width);
    padding: $padding 0 $padding $padding;
  }

}


.how-it-works{
  .white-panel{
    background-color: #333333;
    width: 70%;
    margin-left: 15%;
    margin-right: auto;
    margin-top: 80px; 
    padding: 0;

  }
  .small{
      width: 100%;
      margin-left: 0;
      min-width: 500px;
  }
  img{
    width: 100%;
    height: auto;
  }


}

.content{
  margin-top: 40px;
  padding: 0 calculatePercent(97px, $lg-width);
  > .info{
    margin-top: 40px;
    clear: both;
    text-align: center;
    font-size: calculateRem(40px);

    .black {
      display: inline;
      color: $textDarkGray;
      font-weight: bold;
      a, a:hover, a:active {
        color: $textDarkGray;
      }
    }
  }
  .restaurant-list{
    overflow: auto;
    .restaurant-box{
      float: left;
      width: calculatePercent(395px, 1245px);
      margin: 10px calculatePercent(15px, 1245px);
      &:last-child{
        margin-right: 0;
      }
      &:first-child{
        margin-left: 0;
      }
      .image{
        width: 100%;
        $padding: calculatePercent(20px, 395px);
        padding: $padding $padding 0 $padding;
        img{
          width: 100%;
        }
      }
      .diinner-label {

        *{
          font-family: "Proxima Nova";
        }
        .title{
          font-size: 2vw;
          font-weight: bold;
          color: $textDarkGray;
        }
        .city{
          font-weight: lighter;
          font-size: 1.8vw;

        }
      }
    }
  }

  .blog-list{
    width: calculatePercent(1008px, 1245px);
    margin-left: calculatePercent(108px, 1245px);
    overflow: auto;
    .blog-box{
      float: left;
      width: calculatePercent(309.3px, 1008px);
      margin: 10px calculatePercent(20px, 1008px);

      .diinner-label{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 20px 10px;
      }
      &:last-child{
        margin-right: 0;
      }
      &:first-child{
        margin-left: 0;
      }
      a, a:active, a:hover{
        text-decoration: none;
      }
      .image {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }

  .register-wrapper {
    clear: both;
    text-align: left;
    margin-right: calculatePercent(30px, 1245px);
    width: 100%;
    margin-top: 40px;
    overflow: auto;

    > .info {
      float: left;
      margin-right: calculatePercent(30px, 1245px);
      font-size: calculateRem(35px);
      color: $textGray;
      width: 395px;
      .black {
        display: inline;
        color: $textDarkGray;
      }
    }

    .register-box {
      float: right;

      width: 450px;
      font-size: calculateRem(25px);
      .diinner-label {
        font-weight: 500;
      }
      .area {
        padding: 40px;
      }
    }

  }

  .test-box{
    margin-top: 40px;
    float: left;
    width: calculatePercent(820px, 1245px);
    max-width: 600px;
    min-width: 400px;
    .diinner-label{
      font-weight: 200;
    }
    .test-info{
      float: left;
      text-align: center;
      width: 100%;
      padding: 0 calculatePercent(141px, 820px);
      height: 0;
      visibility: hidden;
      opacity: 0;
      @include transition(visibility 0s, opacity 1s linear);
      &.active{
        height: auto;
        visibility: visible;
        opacity: 1;
        @include transition(visibility 0s, opacity 1s linear);
      }
      .title{
        margin-top: 0px;
        font-size: calculateRem(25px);
        font-weight: bold;
      }
      .answer{
        width: calculatePercent(268px, 538px);
        $padding: calculatePercent(36px, 538px);
        padding: $padding 0;
        float: left;
        .wrapper {
          padding: 0 $padding;
          border: 0px solid $buttonPink;
          box-sizing: border-box;
          &.left {
            border-right-width: 2px;
          }
          &.right {
            border-left-width: 2px;
          }
          .image {
            width: 100%;
            img {
              width: 100%;
            }
          }
          .text {
            margin-top: 60px;
            font-size: calculateRem(25px);
          }
        }
      }
    }
    .diinner-label{
      clear: both;
    }
    .dot-list{
      width: 100%;
      text-align: center;
      padding: 0 calculatePercent(315px, 820px);
      .dot{
        display: inline-block;
        margin: 15px calculatePercent(15px, 820px) 10px calculatePercent(15px, 820px);
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: $dotGray;
        cursor: pointer;
        &.yellow{
          background-color: $themeYellow;
        }
      }
      //clear:both;
    }
  }

  .share-wrapper{
    clear: both;
    margin-top: 40px;
    margin-left: calculatePercent(108px, 1245px);
    .share-box {
      width: 350px;
      padding: 15px;

      .diinner-label {
        img {
          height: 50px;
          margin: 0 calculatePercent(15px, 395px);
        }
      }


    }
    .follow{
      margin-top: 10px;
      font-size: calculateRem(24px);
      color: $textGray;
    }
  }


}



.footer{
  clear: both;
  height: 250px;
  width: calculatePercent(1340px, $lg-width);
  margin-left: calculatePercent(50px, $lg-width);
  display: table;
  text-align: center;
  padding-top: 200px;
  ul{
    display: table-cell;
    vertical-align: middle;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: 2px solid $textGray;
    li{
      font-size: calculateRem(14.6px);
      display: inline-block;
      color: $textGray;
      padding-right:  calculatePercent(5px, 1340px);
      box-sizing: border-box;
      a {
        color: $textGray;
      }
    }
  }
}

.login-container {
  width: 100%;
  height: 100%;
    .logo{
      padding-bottom: 10%;
      margin-bottom: 10%;
      border: 0 solid $themeYellow;
      border-bottom-width: 1px;
    }

    #login-panel {
      #a0-lock * {
        font-family: "Proxima Nova" !important;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
        text-align-last: auto;
      }

      .a0-header, .a0-footer {
        display: none !important;
      }

      img {
        width: 100%;
      }
    }
}
.tests-info{
  padding: 20px;
  text-align: center;
  font-family: "Proxima Nova" !important;
  font-weight: 200;
  .icon{
    margin-top: 10px;
    font-size: 2.5rem;
    color: #ff6f6f;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}

.login-link{
  cursor: pointer;
}


@media screen and (max-width: 1024px) {
  .home-header{
    .header-title{
      font-size: 7vw;
      border: 2vw solid white;
    }
  }
  .content{
    .info{
      font-size: calculateRem(36px);
    }
    .restaurant-list {
      width: 100%;
      overflow: hidden;
      .restaurant-box {
        width: calculatePercent(592.5px, 1245px);
      }
    }
    .blog-list {
      width: 100%;
      margin-left: 0;
      .blog-box {
        width: calculatePercent(388.3px, 1245px);
        margin: 10px calculatePercent(20px, 1245px);
      }
    }


    .share-wrapper {
      margin-left: 0;
    }

    .register-wrapper {

      > .info {
        float: none;
        clear: both;
        text-align: center;
        width: 60%;
        margin: auto;
      }

      .register-box{
        width: 100%;
        float: none;
        clear: both;
        margin: auto;
        margin-top: 40px;
      }

    }
  }

}

@media screen and (max-width: 768px){

  .footer{
    padding-top: 0;
    height: auto;
  }

 .home-header{
   .header-title{
     font-size: 7vw;
     border: 2vw solid white;
   }
 }
  .content{
    .info{
      font-size: calculateRem(36px);
    }
    .restaurant-list {
      .restaurant-box {
        width: 100%
      }
    }

    .blog-list {
      width: 100%;
      margin-left: 0;
      .blog-box, .blog-box:first-child, .blog-box:last-child {
        float: none;
        width: 250px;
        margin: 20px auto;
      }
    }

    .share-wrapper {
      margin-left: 0;
      text-align: center;
      .share-box{
        margin: auto;
      }
    }

    .register-wrapper {

      > .info {
        width: 80%;
      }

    }
  }
}