@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/transform";
@import 'font';
@import 'color';
@import "user/variables";
@import "user/navigation";
@import "user/general";
@import "gallery";

html{
  -webkit-overflow-scrolling: touch;
}

html, body{
  height: 100%;
  font-family: "Proxima Nova";
  overflow-x: hidden;
  background-color: $backGray;
  
}

.banner {
  &:hover, &:active{
    text-decoration: none;
  }
  width: 100%;
  .cocktail-banner{
    margin-top: 50px;
    background-color: black;
    overflow: auto;
    position: relative;
    width: 100%;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    font-size: calculateRem(30px);
    .orange{
      font-size: calculateRem(33px);
      font-weight: bold;
      color: $buttonYellow;
    }
  }
}


.home-header{
  position: relative;
  font-weight: 700;
  img{
    width:100%;
    &.small{
      width: 100vw;
    }
  }
  .header-title {
    position: absolute;
    top: calculatePercent(190px, 750px);
    left: calculatePercent(227px, $lg-width);
    width: calculatePercent(986px, $lg-width);
    font-size: 5vw;
    color: white;
    border: 1vw solid white;
    box-sizing: border-box;
    $padding: calculatePercent(60px, $lg-width);
    padding: $padding 0 $padding $padding;
  }

}


.how-it-works {
  padding: 60px calculatePercent(40px, $lg-width) 0 calculatePercent(40px, $lg-width);
  width: 100%;
  .white-panel {
    height: 450px;
    margin-top: 290px;
    width: 100%;
    background-color: $panelWhite;
    padding: 0 calculatePercent(40px, 1360px);
    .item {
      text-align: center;
      width: calculatePercent(346px, 1280px);
      margin: 0 calculatePercent(40px, 1280px);
      float: left;
      img {
        width: 100%;
        height: auto;
        margin-top: -290px;
      }
      .oval {
        position: relative;
        display: table;
        width: 85px;
        height: 85px;
        border-radius: 50%;
        overflow: hidden;
        @include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.26));
        margin: 30px auto 30px auto;

        .text {
          font-size: 30px;
          display: table-cell;
          vertical-align: middle;
        }
      }
      .info {
        font-size: 25px;
      }
    }
  }
}

.content{
  margin-top: 40px;
  padding: 0 calculatePercent(97px, $lg-width);
  > .info{
    margin-top: 40px;
    width: 100%;
    float: left;
    text-align: center;
    font-size: calculateRem(40px);

    .black {
      display: inline;
      color: $textDarkGray;
      font-weight: bold;
      a, a:hover, a:active {
        color: $textDarkGray;
      }
    }
  }
  .restaurant-list{
    float: left;
    width: 100%;
    .restaurant-box{
      float: left;
      width: calculatePercent(395px, 1245px);
      margin: 10px calculatePercent(15px, 1245px);
      &:last-child{
        margin-right: 0;
      }
      &:first-child{
        margin-left: 0;
      }
      .image{
        width: 100%;
        $padding: calculatePercent(20px, 395px);
        padding: $padding $padding 0 $padding;
        img{
          width: 100%;
        }
      }
      .diinner-label {

        *{
          font-family: "Proxima Nova";
        }
        .title{
          font-size: calculateRem(25px);
          font-weight: bold;
          color: $textDarkGray;
        }
        .city{
          font-weight: lighter;
          font-size: calculateRem(22px);

        }
      }
    }
  }

  .blog-list{
    float: left;
    width: calculatePercent(1008px, 1245px);
    margin-left: calculatePercent(108px, 1245px);
    .blog-box{
      float: left;
      width: calculatePercent(309.3px, 1008px);
      margin: 10px calculatePercent(20px, 1008px);

      .diinner-label{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 20px 10px;
      }
      &:last-child{
        margin-right: 0;
      }
      &:first-child{
        margin-left: 0;
      }
      a, a:active, a:hover{
        text-decoration: none;
      }
      .image {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }

  .register-wrapper {
    text-align: left;
    margin-right: calculatePercent(30px, 1245px);
    width: 100%;
    margin-top: 40px;
    float: left;

    > .info {
      float: left;
      margin-right: calculatePercent(30px, 1245px);
      font-size: calculateRem(35px);
      color: $textGray;
      width: 395px;
      .black {
        display: inline;
        color: $textDarkGray;
      }
    }

    .register-box {
      float: right;

      width: 450px;
      max-width: 450px;
      font-size: calculateRem(25px);
      .diinner-label {
        font-weight: 500;
      }
      .area {
        padding: 40px;
      }
    }

  }

  .test-wrapper {
    float: left;
    text-align: left;
    margin-right: calculatePercent(30px, 1245px);
    width: 100%;
    margin-top: 40px;

    > .info {
      float: right;
      margin-right: calculatePercent(30px, 1245px);
      font-size: calculateRem(35px);
      color: $textGray;
      width: 395px;

      @media screen and (max-width: 1200px){
        width: 250px;
      }

      .black {
        display: inline;
        color: $textDarkGray;
      }
    }

    .test-box {
      float: left;
      width: calculatePercent(820px, 1245px);
      max-width: 600px;
      min-width: 500px;
      .diinner-label {
        font-weight: 200;
      }
      .test-info {
        float: left;
        text-align: center;
        width: 100%;
        padding: 0 calculatePercent(50px, 820px);
        height: 0;
        visibility: hidden;
        opacity: 0;
        @include transition(visibility 0s, opacity 1s linear);
        &.active {
          height: auto;
          visibility: visible;
          opacity: 1;
          @include transition(visibility 0s, opacity 1s linear);
        }
        .title {
          margin-top: 20px;
          font-size: calculateRem(25px);
          font-weight: bold;
        }
        .answer {
          width: calculatePercent(268px, 538px);
          $padding: calculatePercent(36px, 538px);
          padding: $padding 0;
          float: left;
          height: 250px;
          .wrapper {
            position: relative;
            padding: 0 $padding;
            border: 0 solid $buttonPink;
            box-sizing: border-box;
            width: 100%;
            min-height: 100%;
            &.left {
              border-right-width: 2px;
            }
            &.right {
              border-left-width: 2px;
            }
            .image {
              float: left;
              width: 100%;
              img {
                max-height: 170px;
                max-width: 100%;
                width: auto;
              }
            }
            .text {
              float: left;
              text-align: center;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              width: 100%;
              font-size: calculateRem(25px);
              &.alone{
                position: absolute;
                top: 50%;
                @include translate(0, -50%);
              }
            }
          }
        }
      }
      .down-box {
        padding-top: 40px;
        > .diinner-label {
          padding: 25px;
          clear: both;
          font-size: 1.5rem;
        }
        .dot-list {
          width: 100%;
          text-align: center;
          padding: 0 calculatePercent(315px, 820px);
          .dot {
            display: inline-block;
            margin: 15px calculatePercent(15px, 820px) 10px calculatePercent(15px, 820px);
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background-color: $dotGray;
            cursor: pointer;
            &.yellow {
              background-color: $themeYellow;
            }
          }
          //clear:both;
        }
      }
    }
  }

  .matching{
    text-align: center;
    float: left;
    width: 100%;
    max-width: 450px;
    margin-left: 50%;
    @include translate(-50%, 0);
    margin-top: 50px;
    font-size: 1.4rem;
    font-weight: 200;
    color: $textDarkGray;
    .diinner-label{

      padding: 20px;
    }
  }

  .share-wrapper{
    float: left;
    width: 100%;
    margin-top: 40px;
    margin-left: calculatePercent(108px, 1245px);
    .share-box {
      width: 350px;
      padding: 15px;

      .diinner-label {
        img {
          height: 50px;
          margin: 0 calculatePercent(15px, 395px);
        }
      }


    }
    .follow{
      margin-top: 10px;
      font-size: calculateRem(24px);
      color: $textGray;
    }
  }


}



.footer{
  clear: both;
  height: 250px;
  width: calculatePercent(1340px, $lg-width);
  margin-left: calculatePercent(50px, $lg-width);
  display: table;
  text-align: center;
  padding-top: 200px;
  ul{
    display: table-cell;
    vertical-align: middle;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: 2px solid $textGray;
    li{
      font-size: calculateRem(14.6px);
      display: inline-block;
      color: $textGray;
      padding-right:  calculatePercent(5px, 1340px);
      box-sizing: border-box;
      a {
        color: $textGray;
      }
    }
  }
}

.login-container {
  width: 100%;
  height: 100%;
  .before-login{
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  .after-login{
    width: 100%;
    font-size: 0.8rem;
    cursor: pointer;
    text-decoration: underline;
    .explanation{
      width: 100%;
      padding: 10px;
      background-color: white;
      position: absolute;
      left: 0;
    }
  }
  .logo{
    padding-bottom: 10%;
    margin-bottom: 10%;
    border: 0 solid $themeYellow;
    border-bottom-width: 1px;
  }

  #login-panel {
    #a0-lock * {
      font-family: "Proxima Nova" !important;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
      text-align-last: auto;
    }

    .a0-last-time{
      display: none !important;
    }
    .a0-header, .a0-footer {
      display: none !important;
    }

    img {
      width: 100%;
    }
  }
}
.tests-info{
  padding: 20px;
  text-align: center;
  font-family: "Proxima Nova" !important;
  font-weight: 200;
  .icon{
    margin-top: 10px;
    font-size: 2.5rem;
    color: #ff6f6f;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.login-link{
  cursor: pointer;
}


@media screen and (max-width: 1024px) {
  .cocktail-banner{
    font-size: calculateRem(28px);
    .orange{
      font-size: calculateRem(30px);
    }
  }
  .home-header{
    clear: both;
    .header-title{
      font-size: 7vw;
      border: 2vw solid white;
    }
  }
  .how-it-works {

    .white-panel {
      margin-top: 150px;
      .item {
        width: calculatePercent(388.3px, 1245px);
        margin: 10px calculatePercent(10px, 1245px);
        img {
          margin-top: -150px;
        }
        .info {
          font-size: calculateRem(20px);
        }
        .oval {
          width: 50px;
          height: 50px;
          border-radius: 50%;

          .text {
            font-size: calculateRem(25px);
          }
        }
      }

    }
  }
  .content{
    .info{
      font-size: calculateRem(36px);
    }
    .restaurant-list {
      width: 100%;
      .restaurant-box {
        width: calculatePercent(592.5px, 1245px);
      }
      .restaurant-box:last-child{
        display: none;
      }
    }
    .blog-list {
      width: 100%;
      margin-left: 0;
      .blog-box {
        width: calculatePercent(388.3px, 1245px);
        margin: 10px calculatePercent(20px, 1245px);
      }
    }


    .share-wrapper {
      margin-left: 0;
    }

    .register-wrapper {

      > .info {
        float: none;
        clear: both;
        text-align: center;
        width: 60%;
        margin: auto;
      }

      .register-box{
        width: 100%;
        float: none;
        clear: both;
        margin: auto;
        margin-top: 40px;
      }

    }

    .test-wrapper {

      > .info {
        float: none;
        clear: both;
        text-align: center;
        width: 60%;
        margin: auto;
      }

      .test-box{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        float: none;
        clear: both;
        margin: auto;
        margin-top: 40px;
      }

    }
  }

}

@media screen and (max-width: 768px){
  .banner {
    display: none;
    .cocktail-banner {
      font-size: calculateRem(28px);
      .orange {
        font-size: calculateRem(30px);
      }
    }
  }
 .home-header{
   
   .header-title{
     font-size: 7vw;
     border: 2vw solid white;
   }
 }
  .how-it-works {
    margin-top: auto;
    padding-top: 15px;
    .white-panel {
      margin-top: 0px;
      height: auto;
      width: 100%;
      margin-left: 0;
      .item {
        float: none;
        width: 300px;
        margin: 20px auto;
        img {
          margin-top: 20px;
          width: 50%;
        }
        .oval{
          display: none;
        }
        .info {
          margin-top: 10px;
          font-size: calculateRem(20px);
        }
      }
      .item:last-child{
        .info{
          padding-bottom: 20px;
        }
      }

    }
  }
  .content{
    margin-top: 0;
    .info{
      margin-top: 0;
      font-size: calculateRem(36px);
    }
    .restaurant-list {
      .restaurant-box {
        width: 100%
      }
    }

    .blog-list {
      width: 100%;
      margin-left: 0;
      .blog-box, .blog-box:first-child, .blog-box:last-child {
        float: none;
        width: 250px;
        margin: 20px auto;
      }
    }

    .share-wrapper {
      margin-left: 0;
      max-width: 100%;
      text-align: center;
      .share-box{
        max-width: 100%;
        margin: auto;
      }
    }

    .register-wrapper {
      > .info {
        width: 80%;
        font-size: 1.8rem;
      }

    }

    .test-wrapper {

      display: none;
      > .info {
        width: 80%;
        font-size: 1.8rem;
      }
      .test-box{
        .answer{
          .wrapper{
            .text{
              &.alone{
                left: 0;
              }
            }
          }
        }
      .down-box{
        .dot-list{
          padding: 0;
          margin: auto;
        }
      }
      }
    }
  }
  .matching{
    display: none;
  }

  .info.blog{
    margin-top: 20px;
  }
  .footer{
    clear: both;
    height: auto;
    width: 100%;
    margin: auto;
    padding: 40px 0 20px 0;
    ul{
      padding-top: 10px;
      display: auto;
      li{
        font-size: calculateRem(15px);
        display: block;
        a {
          color: $textGray;
        }
        &.slash{
          display: none;
        }
      }
    }
  }
}
//Restaurant view
.user-container{
  .restaurant-info{
    margin-bottom: 20px;
  }
  .separator{
    min-height: 5vh;
    position: relative;
    clear: both;
  }
  .plan-info{
    .plan-label {
      font-weight: bold;
    }
    .plan-value{
      color: $textGray;
    }
    .map{
      margin-top: 10px;
    }
  }
  padding-top: 52px !important;
}
@media (min-width: 769px) and (max-width: 1400px) {
  .user-container {
    width: 70%;
    margin: auto;
  }
}
@media (min-width: 1400px){
  .user-container{
    width: 55%;
    margin: auto;
  }

}

.custom-button {
  margin-bottom:15px;
  margin-top: 15px;
  background-color: white;
  color: $textDarkGray;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding: 0 12px;
  min-width: 52px;
  border: 1px solid $textDarkGray;
  border-radius: 0;
  vertical-align: center;
  text-align: center;
  text-overflow: ellipsis;
  line-height: 42px;
  cursor: pointer;
  text-decoration: none;
  &.button-calm{
    //border-color: $themeBlue;
    //background-color: $themeBlue;
    //color: #fff;
    margin-left: 10px;
  }
  &.button-danger{
    color: $buttonPink;
    border: 1px solid $buttonPink;

  }
  &.button-assertive{
    border-color: $assertiveRed;
    background-color: $assertiveRed;
    color: #fff;
  }
  &.button-balanced{
    border-color: $balancedGreen;
    background-color: $balancedGreen;
    color: #fff;
  }
}

.menu-data{
  font-weight: bold;
  .menu-description{
    font-weight: normal;
    margin-bottom: 10px;
    color: $textGray;
    font-weight: 300;

  }
  .menu-element{
    margin-top: 5px;
    color: $textGray;
  }
}