@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/transform";
@import 'font';
@import 'color';
@import "user/variables";
@import "user/navigation";
@import "user/general";

html, body{
  height: 100%;
  font-family: "Proxima Nova";
  overflow-x: hidden;
  background-color: $backGray;
}

.home-header{
  position: relative;
  font-weight: 700;
  img{
    width:100%;
    &.small{
      min-width: 100vw;
      min-height: 100vh;
    }
  }
  .header-title {
    position: absolute;
    top: calculatePercent(190px, 750px);
    left: calculatePercent(227px, $lg-width);
    width: calculatePercent(986px, $lg-width);
    font-size: calculateRem(90px);
    color: white;
    border: 15px solid white;
    box-sizing: border-box;
    $padding: calculatePercent(60px, $lg-width);
    padding: $padding 0 $padding $padding;

    &.small{
      font-size: calculateRem(40px);
    }
  }
}


.how-it-works{
  .white-panel{
    background-color: #333333;
    width: 70%;
    margin-left: 15%;
    margin-right: auto;
    margin-top: 80px; 
    padding: 0;
  }


}

.content{
  margin-top: 40px;
  padding: 0 calculatePercent(97px, $lg-width);
  .restaurant-list{
    min-width: calculatePercent(1245px, $lg-width);
    .restaurant-box{
      float: left;
      width: calculatePercent(395px, 1245px);
      &:not(:last-child){
        margin-right: calculatePercent(30px, 1245px);
      }
      .image{
        width: 100%;
        $padding: calculatePercent(20px, 395px);
        padding: $padding $padding 0 $padding;
        img{
          width: 100%;
        }
      }
      .diinner-label {
        *{
          font-family: "Proxima Nova'";
        }
        .title{
          font-size: calculateRem(28px);
          font-weight: bold;
          color: $textDarkGray;
        }
        .city{
          font-weight: lighter;
          color: $textBlue;
        }
      }
    }
  }

  .register-wrapper {
    float: left;
    clear: both;
    margin-right: calculatePercent(30px, 1245px);
    width: calculatePercent(395px, 1245px);
    .register-box {
      margin-top: 40px;

      width: 100%;
      font-size: calculateRem(25px);
      .diinner-label {
        font-weight: 500;
      }
      .area {
        padding: 40px;
      }
    }

    .info {
      margin-top: 40px;
      font-size: calculateRem(45px);
      color: $textGray;
      width: 100%;
      .black {
        display: inline;
        color: $textDarkGray;
      }
    }
  }

  .test-box{
    margin-top: 0px;
    float: left;
    width: calculatePercent(820px, 1245px);
    .test-info{
      float: left;
      text-align: center;
      width: 100%;
      padding: 0 calculatePercent(141px, 820px);
      height: 0;
      visibility: hidden;
      opacity: 0;
      @include transition(visibility 0s, opacity 1s linear);
      &.active{
        height: auto;
        visibility: visible;
        opacity: 1;
        @include transition(visibility 0s, opacity 1s linear);
      }
      .title{
        margin-top: 0px;
        font-size: calculateRem(25px);
        font-weight: bold;
      }
      .answer{
        width: calculatePercent(268px, 538px);
        $padding: calculatePercent(36px, 538px);
        padding: $padding 0;
        float: left;
        .wrapper {
          padding: 0 $padding;
          border: 0px solid $buttonPink;
          box-sizing: border-box;
          &.left {
            border-right-width: 2px;
          }
          &.right {
            border-left-width: 2px;
          }
          .image {
            width: 100%;
            img {
              width: 100%;
            }
          }
          .text {
            margin-top: 60px;
            font-size: calculateRem(25px);
          }
        }
      }
    }
    .diinner-label{
      clear: both;
    }
    .dot-list{
      width: 100%;
      text-align: center;
      padding: 0 calculatePercent(315px, 820px);
      .dot{
        display: inline-block;
        margin: 15px calculatePercent(15px, 820px) 10px calculatePercent(15px, 820px);
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: $dotGray;
        cursor: pointer;
        &.yellow{
          background-color: $themeYellow;
        }
      }
      //clear:both;
    }
  }


  .share-box {
    margin-top: 40px;
    float: right;
    width: calculatePercent(395px, $lg-width);
    .box {
      width: 100%;
      text-align: center;
      padding: calculatePercent(25px, 395px);
      .diinner-label {
        padding: auto calculatePercent(85px, 395px);
        img {
          height: 50px;
          margin: 0 calculatePercent(15px, 395px);
        }
      }
    }
    .follow{
      margin-top: 10px;
      font-size: calculateRem(24px);
      color: $textGray;
    }
  }

  .blog-box{
    margin-top: 40px;
    float: right;
    width: calculatePercent(313px, $lg-width);
    margin-right: calculatePercent(30px, 1245px);
    a, a:active, a:hover{
      text-decoration: none;
    }
    .image {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}



.footer{
  clear: both;
  height: 250px;
  width: calculatePercent(1340px, $lg-width);
  margin-left: calculatePercent(50px, $lg-width);
  display: table;
  text-align: center;
  padding-top: 200px;
  ul{
    display: table-cell;
    vertical-align: middle;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: 2px solid $textGray;
    li{
      font-size: calculateRem(14.6px);
      display: inline-block;
      color: $textGray;
      padding-right:  calculatePercent(5px, 1340px);
      box-sizing: border-box;
      a {
        color: $textGray;
      }
    }
  }
}

@media screen and (max-width: 768px){
  .footer{
    padding-top: 0;
    height: auto;
  }
}
.login-container {
  width: 100%;
  height: 100%;
    .logo{
      padding-bottom: 10%;
      margin-bottom: 10%;
      border: 0 solid $themeYellow;
      border-bottom-width: 1px;
    }

    #login-panel {
      #a0-lock * {
        font-family: "Proxima Nova" !important;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
        text-align-last: auto;
      }

      .a0-header, .a0-footer {
        display: none !important;
      }

      img {
        width: 100%;
      }
    }
}
.tests-info{
  padding: 20px;
  text-align: center;
  font-family: "Proxima Nova" !important;
  font-weight: 200;
  .icon{
    margin-top: 10px;
    font-size: 2.5rem;
    color: #ff6f6f;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}

.login-link{
  cursor: pointer;
}