@import "compass/css3/transform";
@import 'font';
@import 'color';

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.login-container {
  position: absolute;
  width: 100%;
  height: 100%;
  .login-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    @include translate(-50%, -50%);

    .logo{
      padding-bottom: 10%;
      margin-bottom: 10%;
      border: 0 solid $themeYellow;
      border-bottom-width: 1px;
    }

    #login-panel {
      #a0-lock * {
        font-family: "Proxima Nova" !important;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
        text-align-last: auto;
      }

      .a0-header, .a0-footer {
        display: none !important;
      }

      img {
        width: 100%;
      }
    }

  }
}
