@import "color";
@import "font";

.static-content{
  margin-top: 80px;
  width: 100%;
  padding: 5%;
  .anchor{
    margin-bottom: 100px;
  }
  .question{
    font-weight: bold;
    margin-top: 20px;
    padding: 5px 0;
    &:not(.big){
      font-style: italic;
    }
  }
  .user{
    text-decoration: underline;
  }
}



.red{
  color: red
}

.static-logo{
  width: 33vw;
  margin-left: 33vw;
  margin-top: 100px;
}

.protected-text{
  width:50%;
  padding:0px;
  margin-left: 25%;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
  font-family: "Proxima Nova";
  h1,h2{
    font-weight: 400;
  }
  h4{
    font-weight: 200;
  }
  .home-wrapper {
    margin-top: 50px;
    .home-link {
      font-size: 1.5rem;
      background-color: white;
      color: black;
      border: 2px solid $themeYellow;
      padding: 10px;
      text-decoration: none;
      &:hover{
        background-color: $themeYellow;
        color: white;
      }
    }
  }
}