@import "compass";
@import 'application';
@import "user/variables";
@import "user/general";
@import "user/navigation";

.static-content{
  margin-top: 80px;
  width: 100%;
  padding: 5%;
  .question{
    font-weight: bold;
    padding: 5px 0;
    &:not(.big){
      font-style: italic;
    }
  }
  .user{
    text-decoration: underline;
  }
}

.red{
  color: red
}

.static-logo{
  width: 33vw;
  margin-left: 33vw;
  margin-top: 100px;
}