@import "color";
@import "font";

body{
  background-color: $backGray;
  background-color: $backGray;
  margin: 0px;
  padding: 0px;


}

.cocktail{
  min-width: 1024px;
  text-align: center;
  width: 100%;
  height: auto;
  color: $textDarkGray;

  img{
    width: 100%;
    min-width: 800px;
  }


  font-family: "Proxima Nova";


  .complete{
    color: $themeYellow;
  }
  h1 {
    position: absolute;
    font-size: 120px;
    margin: 0px;
    padding: 200px 0px 0px;
    color: white;
  }

  h2{
    font-size: 60px;
    width: 100%;

  }
  p{
    font-size: 20px;
    line-height: 24px;

  }
  table{
    color: $textDarkGray;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    margin-left: 2%;
    b{
      font-weight: bold;
      text-decoration: underline;
    }
    tr{
      height: 50px;
    }

    td.left{
      text-align: right;
      padding-right: 10px;
      vertical-align: top; 
    }
    td.right{
      text-align: left;
      padding-left: 10px;
      vertical-align: top; 
    }
  }

  margin-bottom: 120px;
}


.static-content{
  font-family: "Proxima Nova";

  width: 60%;
  margin-right: auto;
  margin-left: 20%;
  margin-bottom: 120px;

  .question-links{
    margin-bottom: 30px;
  }
  ul{
    margin: 0px;

    padding: 0px;
      list-style-type: none;
  }
  .question-links{

    a{
      text-decoration: none;
      color: gray;
    }
    a:hover{
      text-decoration: underline;
      color: $textDarkGray;

    }
    font-size: 22px;
    line-height: 30px;
  }
  

  .anchor{
    margin-bottom: 20px;
  }
  .question{
    font-weight: bold;
    margin-top: 0px;
    padding: 5px 0;
    font-size: 22px;
    text-decoration: underline;
    color: $textDarkGray;
  }
  .user{
    text-decoration: underline;
  }
      font-size: 18px;
      font-weight: 400;
      color: $textDarkGray;
      line-height: 25px;
      color: gray;
  
  .back{
    text-align: center;
    margin-bottom: 40px;
    a{
      color: $textDarkGray;
      text-decoration: none;
    }
    a:hover{
      text-decoration: underline;

    }
  }
}



.red{
  font-weight: bold;
}

.static-logo{
  width: 20%;
  margin-left: 40%;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 10px;
}

.protected-text{
  width:50%;
  padding:0;
  margin-left: 25%;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
  font-family: "Proxima Nova";
  h1,h2{
    font-weight: 400;
  }
  h4{
    font-weight: 200;
  }
  .home-wrapper {
    margin-top: 50px;
    .home-link {
      font-size: 1.5rem;
      background-color: white;
      color: black;
      border: 2px solid $themeYellow;
      padding: 10px;
      text-decoration: none;
      &:hover{
        background-color: $themeYellow;
        color: white;
      }
    }
  }
}

ul.bulleted {
  list-style-type: circle;
  list-style-position: inside;
}

.section{
  font-weight: bold;
  margin-top: 0px;
  padding: 5px 0;
  font-size: 22px;
  color: $textDarkGray;
}