@import "compass";
@import 'application';
@import "user/variables";
@import "user/general";
@import "user/navigation";
@import "user/forms";
@import 'calendar';

html, body{
  width: 100%;
  height: 100%;
  font-family: "Proxima Nova";
  overflow-x: hidden;
}

.user-image-wrapper{
  position: relative;
  width: 100%;
  .wrapper-background{
    width: 100%;
    height: 50%;
    .image-background{
      width: 100%;
      @include filter(blur(2px));
    }
    .wrapper-center{
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      @include translate(-50%, -50%);
      .user-image {
        border-radius: 50%;
        width: 30vw;
        border: 3px solid $themeYellow;
      }
      .user-name{
        font-size: 1.5rem;
        color: white;
        font-weight: bold;
        margin-top: 10px;
      }
    }
  }
}

.new-reservation{
  margin-top: 30px;
}

.login-wrapper{
  display: table-cell;
  overflow: hidden;
  height: 100%;
  width: 100%;
  #login-panel{
    display: table-cell;
    width: 40%;
    vertical-align: middle;

    img{
      width: 100%;
    }
  }

}


.reservation{
  width: 100%;
  padding: 0 0;
  height: auto;
  .restaurant-image {
    width: 100%;
  }

  .separator{
    margin-top: 5%;
  }
  .main-info {
    padding: 5% 0;
    min-height: 100px;
    line-height: 40px;
    .restaurant-name {
      font-size: 1.7rem;
    }

    .affinity {
      padding: 10px;
      text-align: center;
      background-color: $linkBlue;
      border-radius: 2px;
      margin-bottom: 5%;
      color: white;
      .value{
        padding: 6px;
        font-size: 3rem;
        font-weight: bold;
      }
      .text{
        font-size: 1.2rem;
      }
    }

    .address{
      font-size: 1.5rem;
    }
  }

  .menu{
    font-size: 1.3rem;
  }

}
