@import "compass";
@import 'application';
@import "user/variables";
@import "user/general";
@import "user/navigation";


.user-image-wrapper{
  position: relative;
  width: 100%;
  .wrapper-background{
    width: 100%;
    margin-top: -60px;
    .image-background{
      width: 100%;
      @include filter(blur(4px))
    }
    .wrapper-center{
      position: absolute;
      left: 50%;
      top: 50%;
      @include translate(-50%, -50%);
      .user-image {
        border-radius: 50%;
      }
    }
  }
}

.menu-wrapper{
  clear: both;
}