@import 'font';
@import 'color';
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/transform";
@import "compass/css3/filter";
@import "user/variables";
@import "user/navigation";
@import "user/general";
@import "user/forms";
@import "calendar";


html, body{
  height: 100%;
  font-family: "Proxima Nova";
  overflow-x: hidden;
  background-color: $backGray;
}

.notice, .alert{
  display: none;
}

#jGrowl{
  top: 55px;
  .jGrowl-notification{
    color: white;
    background-color: $themeBlue;
    opacity: 1;
    font-family: 'Proxima Nova';
    font-size: 1.3em;
    .jGrowl-close{
      line-height: 1em;
      font-size: 1.5em;
    }
  }
}

/* User view
========================================================================== */
.user-container{
  padding-top: 52px !important;
}
@media (min-width: 769px) and (max-width: 1400px) {
  .user-container {
    width: 70%;
    margin: auto;
  }
}
@media (min-width: 1400px){
  .user-container{
    width: 55%;
    margin: auto;
  }

}
.back, .back:hover, .back:active{
  width: 100%;
  text-decoration: none;
  color: $textDarkGray;
  padding-bottom: 5px;
}

.panel-white{
  background: white;
}
.separator{
  min-height: 5vh;
  position: relative;
  clear: both;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

/* mobile
-------------------*/

.user-image-wrapper{
  overflow: hidden;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;

  .wrapper-background{
    width: 100%;
    overflow: hidden;

    .image-background{
      @include filter(blur(2px));
      height:100vh;
    }
    .wrapper-center{
      .user-image {
        border-radius: 50%;
        width: 30vw;
        border: 3px solid $themeYellow;
      }
      .user-name{
        font-size: 1.5rem;
        color: white;
        font-weight: bold;
        margin-top: 10px;
      }
    }
  }
}


.test{
  text-align: center;
  .question{
    margin-top: 15px;
    font-size: calculateRem(24px);
  }
  .responses{
    a, a:active, a:hover{
      color: $textDarkGray !important;
      text-decoration: none !important;
    }
    .option {
      min-height: 30vh;
      margin-bottom: 15px;
      text-align: center;
      width: 100%;
      display: table;
      margin-top: 15px;
      .image{
        width: 100%;
      }
      .caption{
        position: absolute;
        bottom: 10px;
        right: 20px;
        background-color: $buttonPink;
        color: white;
        font-size: calculateRem(14px);
        padding: 10px;
      }
      .selector{
        position: absolute;
        width: 60px;
        height: 120px;
        top: 50%;
        @include translate(0, -50%);
        text-align: center;

        right: 10px;

        color: $textDarkGray;
        background-color: white;
        font-size: calculateRem(30px);
        //border: 2px solid $textDarkGray;
        //box-sizing: border-box;
        background-image: linear-gradient($textDarkGray, $textDarkGray);
        background-position: 0% 50%;
        background-repeat: no-repeat;
        background-size: 0% 100%;
        @include transition(background-size .5s, color .5s);
        *{
          margin-top: 50%;
          @include translate(0, 25%);
        }
        &:hover{
          background-size: 100% 100%;
          color: white;
        }
        padding: 10px;
      }
      .text{
        border: 1px solid $lightGray;
        font-size: 2rem;
        display: table-cell;
        vertical-align: middle;

        &.pink{
          background-color: $buttonPink;
        }
        &.yellow{
          background-color: $themeYellow;
        }
      }
    }
  }

}
.blog-box{
  a, a:active, a:hover{
    text-decoration: none;
  }
  .image {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .diinner-label.pink.button{
    border: none;
    margin: 0;
    padding: 30px 0;
  }
}
.notification-list{
  .notification{
    padding: 2% 0;
    border: 0 solid $themeYellow;
    border-bottom-width: 1px;
    .message{
      color: $textDarkGray;
    }
    .time{
      color: $textGray;
    }
  }
}

.credit-card{
  padding: 10px;
}
@media (max-width: 767px) {
  .user-sm {
    display: none;
  }

  .no-padding-xs {
    padding: 0 !important;
    margin: 0 !important;
  }
}

@media (orientation: portrait) {
  .wrapper-background {
    .image-background {
      width: auto;
    }

    .wrapper-center {
      position: absolute;
      left: 50%;
      top: 40%;
      width: 100%;
      @include translate(-50%, -50%);
    }

    .new-reservation {
      @include translate(0%, -50%);
      position: absolute;
      top: 70%;
      width: 100%;
    }
  }
}

@media (orientation: landscape) {
  .wrapper-background {
    .image-background {
      width: 100%;
      height: auto;
    }

    .wrapper-center {
      @include translate(-50%, -50%);
      position: absolute;
      left: 30%;
      top: 50%;
      width: 50%
    }

    .new-reservation {
      @include translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 75%;
      width: 50%;
    }
  }
}

/* tablet
-------------------*/

@media (min-width: 768px) {
  .user-xs {
    display: none;
  }

  //.row {
  //  //@include flexbox;
  //  margin-top: 10px;
  //}

  .sm-separator {
    border-right: 2px solid $themeYellow;
    box-sizing: border-box;
  }

  .lg-separator {
    display: none;
  }

  .wrapper-control {
    padding-top: 15px;
    border-left: 2px solid $themeYellow;

    .panel-yellow {
      border-color: $themeYellow;

      .panel-heading {
        background-color: $themeYellow;
        color: white;
      }
    }

  }

  .notification-list{
    padding: 5px;
    max-height: 40vh;
    overflow: auto;
    &.full{
      max-height: 100vh;
    }
  }

}



/* desktop
-------------------*/
@media (min-width: 1200px) {
  .sm-separator {
    border: none;
  }

  .lg-separator {
    display: block;
    border-right: 2px solid $themeYellow;
    box-sizing: border-box;
  }


}

/* User preferences
========================================================================== */
.age-slider {
  margin-bottom: 25px;
  width: 100%;

  .age-span {
    display: inline-block;
    width: 10%;

    &:last-child {
      text-align: right;
    }
  }
}

#age-slider {
  text-align: center;
  width: 80%;

  .slider-handle {
    background: $buttonYellow;
  }

  .slider-selection {
    background: $themeYellow;
  }
}

@media (min-width: 768px) {
  .age-slider {
    .age-span {
      width: 8%;
    }
  }

  #age-slider {
    width: 84%;
  }
}

@media (min-width: 1200px) {
  .age-slider {
    .age-span {
      width: 7%;
    }
  }

  #age-slider {
    width: 86%;
  }
}
/* Reservation
========================================================================== */
input.company {
  margin-right: 5px;
}

.reservation{
  width: 100%;
  padding: 0 0;
  height: auto;
  .restaurant-image {
    margin-top: 20px;
    width: 100%;
  }

  .affinity{
    margin-bottom: 5%;
    .value{
      padding-top: 6px;
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .main-info {
    padding: 5% 0;
    min-height: 100px;
    line-height: 40px;
    .restaurant-name {
      font-size: 1.2rem;
      font-weight: bold;
    }


    .address{
      font-size: 1.2rem;
    }
  }

  .menu{
    .menu-title, .menu-price {
      //font-size: 1.3rem;
    }
    .menu-price {
      text-align: right;
    }
  }
}
.reservation-date{
  font-size: calculateRem(20px);
}

.search-results {
  margin-top: 15px;
  a, a:hover, a:active {
    text-decoration: none;
    color: $textDarkGray;
  }
  .search-result-item {
    .menu-data{
      padding: 40px 10px;
    }
    .affinity {
      &:hover .affinity-info{
        visibility: visible;
      }
      .affinity-tag {
        border-radius: 20%;
        width: 50px;
        height: 50px;
        position: absolute;
        right: 0;
        z-index: 2;
        top: -10px;
        background-color: $buttonPink;
        color: white;
        display: table;
        text-align: center;
        .value {
          font-weight: bold;
          display: table-cell;
          vertical-align: middle;
        }
        &.rotated {
          @include transform(rotate(30deg));
        }
        &.rotated-2 {
          @include transform(rotate(-30deg));
        }
      }
      .affinity-info{
        visibility: hidden;
        position: absolute;
        right: -60px;
        z-index: 3;
        top: 30px;
        padding: 5px;
        border-radius: 5px;
        background-color: white;
        @include box-shadow($boxShadow 2px 2px 6px 0);
      }
    }
    .data-search-wrapper{
      padding: 10px;
    }
    border-radius: 2px;
    margin-bottom: 15px;
    img {
      width: 100% !important;
    }
    .title {
      font-weight: bold;
      .restaurant-description{
        font-weight: normal;
      }
      .bi_interface-circle {
        font-size: 1rem;
        color: $buttonYellow;
      }
    }
    .price-title{
      text-align: right;

      .price{
        color: $buttonPink;
      }
    }
    .time {
      color: $textGray;
      .hour{
        font-weight: bold;
      }
      //text-align: right;
    }
    .address{
      clear: both;
      margin-top: 15px;
    }

  }
}
.big-box {
  padding: 10px;
  text-align: center;
  background-color: white;
  border: 2px solid $themeBlue;
  border-radius: 2px;
  color: $textDarkGray;
  &.pink{
    background-color: $buttonPink;
    color: white;
  }
}
.choosing-box{
  //margin-top: 15px;
  width: 100%;
  border-radius: 2px;
  &.fixed-height{
    height: 56px;
  }
  .text{
    height: 100%;
    cursor: pointer;
    width: 50%;
    margin-bottom: 15px;
    float: left;
    //font-size: 1.2em;
    padding: 6px 12px;
    border: 1px solid $lightGray;
    .explanation{
      font-size: .8rem;
      color: $textGray;
    }
    &.selected{
     background-color: $themeYellow;
      &.blue{
        background-color: $themeBlue;
        color: white;
      }
    }
    &.long{
      width: 100%;
      margin-bottom: 0;

      &.last{
        margin-bottom: 15px;
      }
    }
  }
}



/* Payment
========================================================================== */
.card{
  font-size: 4rem;
}
.card-text{
  font-size: 1.3rem;
}

/* Calendar
========================================================================== */
.calendar {
  .calendar-header {
    overflow: auto;

    a {
      &:first-child {
        float: left;
      }
      &:last-child {
        float: right;
      }
    }

    span {
      display: inline-block;
      font-size: 1.45rem;
      padding: 10.5px 0 !important;
    }
  }

  .table {
    thead {
      font-size: 1.1rem;

      th {
        padding: 10px 0 !important;
      }
    }

    tbody {
      font-size: 1.1rem;

      .status-table {
        margin-right: -10px;
        margin-left: -10px;

        a {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .calendar {
    padding: 5px;
    .calendar-header {
      span {
        font-size: 2rem;
        padding: 4px 0 !important;
      }
    }

    .table {
      thead {
        font-size: 1.4rem;

        th {
          padding: 10px !important;
        }
      }

      tbody {
        font-size: 1.4rem;

        .status-table {
          margin-right: -10px;
          margin-left: -10px;

          a {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

.today-date{
  font-weight: bold;
}
.desktop{
  color: $textDarkGray;
  .reservations{
    padding-bottom: 15px;

  }

  .my-reservations{
    text-align: left;

    .list{
      margin: 15px auto;
      .item{
        clear: both;
        .name{
          font-weight: bold;
          span{
            color: $themeYellow;
          }
        }
        .date{
          float: left;
          margin-bottom: 10px;
        }
        .time{
          float:right;
          border: 1px solid $themeYellow;
          padding: 2px 5px;
        }

      }
    }
  }
  .tests{

    .info{
      font-size: calculateRem(25px);
      color: $textGray;
      padding: 20px calculatePercent(50px, $lg-width);

    }
    .icon{
      padding: 20px calculatePercent(50px, $lg-width);
      font-size: calculateRem(40px);
      color: $buttonPink;
    }
  }
  .suggest{
    font-size: calculateRem(20px);
    padding: 20px;
    margin-bottom: 20px;
  }
  a, a:hover, a:active{
    text-decoration: none !important;
    color: inherit !important;
  }
}

.menu-data{
  .menu-description{
    margin-bottom: 10px;
  }
  .menu-element{
    margin-top: 5px;
    color: $textGray;
  }
}

.plan-info{
  .plan-label {
    font-weight: bold;
  }
  .plan-value{
    color: $textGray;
  }
  .map{
    margin-top: 10px;
  }
}

.compatibility-info{
  margin-top: 20px;
}

.drop-out{
  color: $textGray;
  font-size: 0.8rem;
}

.loading-spinner{
  font-size: 2rem;
  float: left;
  &.a {
    -webkit-animation: loadA 3s infinite linear;
    animation: loadA 3s infinite linear;
  }
  &.b {
    -webkit-animation: loadB 3s infinite linear;
    animation: loadB 3s infinite linear;
  }
  &.c {
    -webkit-animation: loadC 3s infinite linear;
    animation: loadC 3s infinite linear;
  }
  &.d {
    -webkit-animation: loadD 3s infinite linear;
    animation: loadD 3s infinite linear;
  }
}

@-webkit-keyframes loadA {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
@keyframes loadA {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-webkit-keyframes loadB {
  0% {
    opacity: 0
  }
  25% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
@keyframes loadB {
  0% {
    opacity: 0
  }
  25% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-webkit-keyframes loadC {
  0% {
    opacity: 0
  }
  50% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
@keyframes loadC {
  0% {
    opacity: 0
  }
  50% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-webkit-keyframes loadD {
  0% {
    opacity: 0
  }
  75% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
@keyframes loadD {
  0% {
    opacity: 0
  }
  75% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}


.stripe-error{
  width: 100%;
  text-align: center;
  background-color: $assertiveRed;
  padding: 15px;
  color: white;
}

@media (max-width: 768px) {
  .drop-out-wrapper{
    margin-top: -80px;
    margin-bottom: 80px;
  }
}