@import "compass";
@import 'application';
@import "user/variables";
@import "user/general";
@import "user/navigation";
@import 'calendar';

html, body{
  width: 100%;
  font-family: "Proxima Nova";
  overflow-x: hidden;
}

.user-image-wrapper{
  position: relative;
  width: 100%;
  .wrapper-background{
    width: 100%;
    height: 50%;
    .image-background{
      width: 100%;
      @include filter(blur(2px));
    }
    .wrapper-center{
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      @include translate(-50%, -50%);
      .user-image {
        border-radius: 50%;
        width: 30vw;
        border: 3px solid $themeYellow;
      }
      .user-name{
        font-size: 1.5rem;
        color: white;
        font-weight: bold;
        margin-top: 10px;
      }
    }
  }
}





.new-reservation{
  margin-top: 30px;
}
