form{
  .form-control{
    //min-height: 44px;
  }
  .form-yellow{
    background-color: $themeYellow;
  }
  .form-date{
    input{
      width: 100% !important;
    }
  }
  .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: white;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;

  }

  .diinner-button{
    margin-bottom: 15px;
  }
  .mini-title{
    font-size: 15px;
    color: $textGray;
    margin-bottom: 5px;

  }
  .error{
    color: red;
  }


}
.big-label{
  margin-bottom: 15px;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  color: $textDarkGray;
  border: 1px solid #e6b500;
  line-height: 40px;
  @media (max-width: 768px) {
    margin-top: 6px;
  }

  &.yellow{
    background-color: $themeYellow;
    border-color: $themeYellow;
    color: white;
  }

}

.custom-button {
  margin-bottom:15px;
  margin-top: 15px;
  background-color: white;
  color: $textDarkGray;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding: 0 12px;
  min-width: 52px;
  border: 1px solid $textDarkGray;
  border-radius: 0;
  vertical-align: center;
  text-align: center;
  text-overflow: ellipsis;
  line-height: 42px;
  cursor: pointer;
  text-decoration: none;
  &.button-calm{
    border-color: $themeBlue;
    background-color: $themeBlue;
    color: #fff;
  }
  &.button-assertive{
    border-color: $assertiveRed;
    background-color: $assertiveRed;
    color: #fff;
  }
  &.button-balanced{
    border-color: $balancedGreen;
    background-color: $balancedGreen;
    color: #fff;
  }
}

.bootstrap-switch{
  border-radius: 0;
  .bootstrap-switch-handle-on{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: $buttonYellow !important;
  }


}
.date-separator{
  line-height: 34px;
  font-size: 25px;
  width: auto;
}
