/* GENERAL SETTINGS
========================================================================== */

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: $font-size-base;
}


.table {
  display: table;
}

.cell {
  display: table-cell;
}

.left {
  float:left;
}

.right {
  float: right;
}

.text-right {
  text-align: right;
  text-align: -webkit-right;
}

.text-left {
  text-align: left;
  text-align: -webkit-left;
}

.text-center {
  text-align: center;
  text-align: -webkit-center;
}

.uppercase {
  text-transform: uppercase;
}

.full-width {
  width: 100%;
}

/*
 * Pixels to rem font-size
 */

@function calculateRem($size) {
  @return #{$size / $font-size-base}rem;
}

@mixin font-size($size) {
  font-size: calculateRem($size);
}

/*
 * Pixels to %
 */

@function calculatePercent($size, $base-size) {
  @return #{(($size / $base-size) * 100) + "%"};
}

@mixin width-percent($size, $base-size) {
  width: calculatePercent($size, $base-size);
}

/*
 * Vertical align
 */

@mixin vertical-align($align) {
  vertical-align: $align;
}


/*
 * Flexbox display
 */

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.diinner-label{
  &.yellow{
    background-color: $themeYellow;
  }
  &.pink{
    background-color: $buttonPink;
    color: white;
  }
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.diinner-button{
  margin-top: 15px;
  padding: 15px 0;
  width: calculatePercent(250px, 395px);
  font-size: calculateRem(21px);
  text-align: center;
  &.pink{
    border: 2px solid $buttonPink;
    box-sizing: border-box;
  }
}
.diinner-double-button{
  overflow: hidden;
  margin: 15px 0;
  width: 100%;
  font-size: calculateRem(16px);
  text-align: center;
  .item{
    padding: 10px calculatePercent(20px, $lg-width);
    float: left;
    width: 40%;
  }
  .item:first-child{
    margin-right: 10%;
    background-color: $themeYellow;
    border: 1px solid $themeYellow;
  }
  .item:last-child{
    a{
      color: white;
    }
    margin-left: 10%;
    background-color: $buttonPink;
    border: 1px solid $buttonPink;
  }
}
.box{
  position: relative;
  background-color: $boxBackground;
  @include box-shadow($boxShadow 2px 2px 6px 0);
}