.navbar{
  margin: 0 !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  .menu-icon{
    font-size: 1.2rem;
  }
  .menu-text{
    font-size: 1rem;
    display: inline;
  }
  &.navbar-default {
    background-color: white;
    .navbar-toggle {
      border: none;
      background-color: white;
      margin-right: 0;
    }
    a, a:hover, a:active {
      color: $textDarkGray !important;
    }
    .navbar-brand img{
      height: 100%;
    }
  }

  .main-menu {
    a {
      padding-left: 10px;
      padding-right: 10px;

      .menu-icon {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 830px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav li {
    float: none;
  }
  .navbar-nav li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}