.navbar{
  width: 100%;
  position: fixed;
  z-index: 9999;
  margin: 0 !important;
  top: 0;
  left: 0;
  right: 0;
  &.navbar-default{
    background-color: white;
    .navbar-toggle{
      border: none;
      background-color: white;
    }
    .icon-bar{
      background-color: $textDarkGray;
    }
    li {
      background-color: white;
      color: $textDarkGray;
      a, a:hover, a:active{
        color: $textDarkGray;
      }
    }
    .navbar-brand img{
      height: 100%;
    }
  }

}